<script type="text/ng-template" id="promethee/write/add_button">
  <span
    type="button"
    class="btn btn-default btn-block"
    ng-click="addComponentTo(data.children)"
    ng-hide="preview"
    style="margin-bottom: 6px"
  >
    Add component
  </span>

  <div class="promethee-editor__adder" ng-controller="AdderController">
    <div class="modal fade in" tabindex="-1" role="dialog" style="display: {{adding ? 'block' : 'none'}}">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Select component</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div
                ng-repeat="definition in definitions"
                ng-click="pushComponent(definition)"
                class="col-md-3"
              >
                <div class="thumbnail">
                  <img ng-src="{{definition.thumb}}" class="img-responsive">
                  <h4>{{definition.name}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/javascript">
  promethee.controller('AdderController', ['$scope', '$rootScope', 'definitions', function($scope, $rootScope, definitions) {

    $scope.adding = false;
    $scope.childrenToAddTo = null;
    $scope.definitions = definitions;

    $scope.close = function() {
      $scope.adding = false;
      $scope.addingToChildren = null;
    };

    $scope.pushComponent = function(definition) {
      var definition = angular.copy(definition.data);
      definition.id = $scope.createIdentifier();
      $scope.childrenToAddTo.push(definition);
      $scope.close();
    };

    $rootScope.addComponentTo = function(components) {
      $scope.adding = true;
      $scope.childrenToAddTo = components;
    };

    // https://gist.github.com/gordonbrander/2230317
    $scope.createIdentifier = function () {
      // Math.random should be unique because of its seeding algorithm.
      // Convert it to base 36 (numbers + letters), and grab the first 9 characters
      // after the decimal.
      return '' + Math.random().toString(36).substr(2, 9);
    };

  }]);
</script>
