<script type="text/ng-template" id="promethee/write/toolbar">
  <div class="pull-right">
    <span ng-click="remove(component, components)" class="promethee-editor__button"><%= fa_icon 'window-close' %></span>
  </div>
</script>
