<script type="text/ng-template" id="promethee/components/cover/edit/move">
  <%= render 'promethee/edit/move.header', type: 'cover' %>
    <div  class=" promethee-edit__wrapper 
                  promethee-edit__cover-content"
          ng-bind-html="component.attributes.body | htmlSafe"
          style="background-image: url('{{component.attributes.src}}')">    
    </div>
  </div>
</script>
