<script type="text/ng-template" id="promethee/components/cover/edit/move">
  <%= render 'promethee/edit/move_header', type: 'cover' %>
      <div  class=" promethee-edit__wrapper
                    promethee-edit__cover-content"
            style="background-image:url('{{ component.attributes.image.value.id ? '/promethee/blob/' + component.attributes.image.value.id : '' }}')">
          <p>{{component.attributes.surtitle.value}}</p>
          <h1>{{component.attributes.title.value}}</h1>
          <p>{{component.attributes.subtitle.value}}</p>
      </div>
    </div>
  </div>
</script>
