<script type="text/ng-template" id="promethee/components/cover/edit/write">
  <div  ng-controller="CoverController"
        ng-click="inspect(component, $event)"
        class=" promethee-edit__component
                promethee-edit__component--cover">
    <div class="promethee-edit__component-selected" ng-class="{'promethee-edit__component-selected--visible': promethee.inspected === component}">
      <div class="promethee-edit__toolbar promethee-edit__toolbar--transparent">
        <ng-include src="'promethee/write/toolbar'"></ng-include>
      </div>
      <div  class=" promethee-edit__wrapper
                    promethee-edit__cover-content"
            ng-bind-html="component.attributes.body | htmlSafe"
            style="background-image: url('{{component.attributes.src}}')">
      </div>
    </div>
  </div>
</script>

<script>
  promethee.controller('CoverController', ['$scope', function($scope) {

  }]);
</script>
