<%
  init = <<~JAVASCRIPT
    promethee.definitions.push({
      name: 'Cover',
      icon: #{ promethee_component_render_icon 'cover' },
      position: 10,
      library: true,
      data: {
        type: 'cover',
        attributes: {
          image: {
            id: undefined,
            name: ''
          },
          searchable_surtitle: '',
          searchable_title: '',
          searchable_subtitle: ''
        }
      }
    })
  JAVASCRIPT
%>
<div ng-init="<%= init %>"></div>