<script type="text/ng-template" id="promethee/components/cover/edit/inspect">
  <div class="form-group">
    <label class="label-control">Image Url</label>
    <input ng-model="promethee.inspected.attributes.src" class="form-control" type="text"/>
  </div>
</script>
