<script type="text/ng-template" id="promethee/components/cover/edit/move">
  <%= render 'promethee/edit/move.header', type: 'cover' %>
      <div  class=" promethee-edit__wrapper
                    promethee-edit__cover-content"
            style="background-image:url('{{ component.attributes.image.id ? '/promethee/blob/' + component.attributes.image.id : '' }}')">
        <hgroup>
          <h2 class="surtitle">{{component.attributes.searchable_surtitle}}</h2>
          <h1>{{component.attributes.searchable_title}}</h1>
          <h2 class="subtitle">{{component.attributes.searchable_subtitle}}</h2>
        </hgroup>
      </div>
    </div>
  </div>
</script>
