<script type="text/ng-template" id="promethee/components/row/edit/write">
  <div  ng-controller="RowController"
        ng-click="inspect(component, $event)"
        class=" row
                promethee-edit__component
                promethee-edit__component--row">
    <div class="promethee-edit__component-selected" ng-class="{'promethee-edit__component-selected--visible': promethee.inspected === component}">
      <div class="promethee-edit__toolbar">
        Row
        <ng-include src="'promethee/write/toolbar'"></ng-include>
      </div>
      <ng-include src="'promethee/write/components'"></ng-include>
      <div class="clearfix"></div>
      <a ng-click="addColumn()" class="promethee-edit__adder__button"><%= fa_icon :columns, class: "fa-2x" %></a>
    </div>
  </div>
</script>

<script>
  promethee.controller('RowController', ['$scope', 'identifier', function($scope, identifier) {
    $scope.addColumn = function() {
      this.component.children.push({
        type: 'column',
        id: identifier.generate(),
        attributes: {
          size: 4,
          offset: 0
        },
        children: []
      })
    }
  }]);
</script>

