<%
  init = <<~JAVASCRIPT
    promethee.definitions.push({
      name: 'Row',
      icon: #{ promethee_component_render_icon 'row' },
      position: -2,
      library: true,
      data: {
        type: 'row',
        attributes: {
          bgcolor: "transparent",
          bgimage1: {
            id: undefined,
            name: ''
          },
          bgimage2: {
            id: undefined,
            name: ''
          },
        },
        children: []
      }
    })
  JAVASCRIPT
%>
<div ng-init="<%= init %>"></div>
