<%
  init = <<~JAVASCRIPT
    promethee.definitions.push({
      name: 'Row',
      icon: #{ promethee_component_render_icon 'row' },
      position: -2,
      library: true,
      data: {
        type: 'row',
        attributes: {
          bgcolor: {
            searchable: false,
            type: 'color',
            value: "rgba(255,255,255,0)",
          },
          backgrounds: {
            searchable: false,
            type: 'array',
            value: []
          }
        },
        children: []
      }
    })
  JAVASCRIPT
%>
<div ng-init="<%= init %>"></div>
