<script type="text/ng-template" id="promethee/components/row/edit/move">
<%= render 'promethee/edit/move.header', type: 'row' %>
    <div class="header">Row</div>
    <div class="row" ng-controller="RowMoveController">
      <div class="row__background row__background--color" ng-style="{'background': component.attributes.bgcolor}"></div>

      <div ng-repeat="background in component.attributes.backgrounds"
           class="row__background"
           style="
           background-image:url('{{background.image.id ? '/promethee/blob/'+background.image.id : ''}}');
               background-position:{{background.posh+' '+background.posv}};
               background-size: {{background.size}}" >
      </div>

      <div  ng-click="inspect(component, $event)"
            ng-class="{'promethee-edit__component--selected': promethee.inspected === component}"
            ng-repeat="component in components"
            class=" <%= promethee_bem_classes 'promethee-edit__component', "--column" %>
                    col
                    col-md-{{component.attributes.size}}
                    offset-md-{{component.attributes.offset}}
                    col-md-offset-{{component.attributes.offset}}">
        <div class="promethee-edit__component__inner">
          <%= render 'promethee/edit/move.remove' %>
            <div class="header">Column {{$index + 1}}</div>
            <ng-include src="'promethee/move/components'"></ng-include>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</script>

<script>
  promethee.controller('RowMoveController', ['$scope', function($scope) {
    $scope.parent_id = $scope.component.id;
    $scope.parent_type = $scope.component.type;
    $scope.components = $scope.component.children;
  }]);
</script>