<script type="text/ng-template" id="promethee/components/row/edit/move">
  <%= render 'promethee/edit/move.header', type: 'row' %>
      <div class="header">Row</div>
      <div class="row">
        <ng-include src="'promethee/move/components'"></ng-include>
      </div>
    </div>
  </div>
</script>
