<%
  init = <<~JAVASCRIPT
    promethee.definitions.push({
      name: 'Row',
      icon: #{ promethee_component_render_icon 'row' },
      position: -2,
      library: true,
      data: {
        type: 'row',
        attributes: {
          bgcolor: "rgba(255,255,255,0)",
          backgrounds: [],
          bgimage1: {
            id: undefined,
            name: ''
          },
          bgimage1_position_h: 'center',
          bgimage1_position_v: 'center',
          bgimage2: {
            id: undefined,
            name: ''
          },
          bgimage2_position_h: 'center',
          bgimage2_position_v: 'center'
        },
        children: []
      }
    })
  JAVASCRIPT
%>
<div ng-init="<%= init %>"></div>
