.promethee-editor__component
  &--text
    .mce-tinymce
      border: none
    .mce-panel
      border-top-color: $promethee-transparent-grey
    .mce-btn-group:not(:first-child)
      border-left-color: $promethee-transparent-grey
    .mce-top-part::before
      box-shadow: none
