.promethee-editor__component
  &--text
    .mce-tinymce
      border: none

    .mce-panel
      border-top-color: $promethee-transparent-grey

    .mce-btn-group:not(:first-child)
      border-left-color: $promethee-transparent-grey

    .mce-top-part::before
      box-shadow: none

  &--cover
    .promethee-editor__cover-content
      padding: 150px 30px
      background-repeat: no-repeat
      background-position: center center
      background-size: cover

  &--slider
    .fontawesome-carousel-control .fa
        top: 50%
        position: absolute
        transform: translateY(-50%)
        font-size: 30px
