.promethee-editor__preview
  position: relative
  height: calc(100% - 52px)
  min-height: 500px
  background: black
  margin-top: -20px
  &--frame
    transition: width 1s, left 1s, margin 1s
    position: absolute
    height: 100%
  &--mobile
    .promethee-editor__preview--frame
      left: 50%
      margin-left: -187px
      width: 375px
  &--tablet
    .promethee-editor__preview--frame
      left: 50%
      margin-left: -384px
      width: 768px
  &--desktop
    .promethee-editor__preview--frame
      width: 100%
      left: 0
      right: 0
