<%
  init = <<~JAVASCRIPT
    promethee.definitions.push({
      name: 'Text',
      icon: #{ promethee_component_render_icon 'text' },
      position: 1,
      library: true,
      data: {
        type: 'text',
        attributes: {
          searchable_body: 'Edit me'
        }
      }
    })
  JAVASCRIPT
%>
<div ng-init="<%= init %>"></div>
