<script type="text/ng-template" id="promethee/components/text/edit/move">
  <div  ng-click="inspect(component, $event)"
        ng-class="{'promethee-edit__component--selected': promethee.inspected === component}"
        class=" promethee-edit__component
                promethee-edit__component--text">
    <div  class="promethee-edit__component__close"
          ng-click="remove(component, components)"
          ng-show="promethee.inspected === component"><%= fa_icon :times %></div>
    <div ng-bind-html="component.attributes.body | htmlSafe"></div>
  </div>
</script>
