<script type="text/ng-template" id="promethee/components/text/edit/move">
  <%= render 'promethee/edit/move.header', type: 'text' %>
      <div ng-bind-html="component.attributes.body | htmlSafe"></div>
      <pre class="hidden">{{component.attributes.search = (component.attributes.body | textContentFromHTML)}}</pre>
    </div>
  </div>
</script>
