<script type="text/ng-template" id="promethee/components/text/edit/inspect">
  <div class="form-group">
    <summernote config="summernoteConfig" ng-model="promethee.inspected.attributes.body"></summernote>
  </div>

  {{promethee.inspected.attributes.body | textContentFromHTML | numberOfWords}} words<br>
  {{promethee.inspected.attributes.body | textContentFromHTML | numberOfCharacters}} characters
</script>
