<script type="text/ng-template" id="promethee/components/text/edit/write">
  <div  ng-controller="TextController"
        ng-click="inspect(component, $event)"
        class=" promethee-edit__component
                promethee-edit__component--text">
    <div class="promethee-edit__component-selected" ng-class="{'promethee-edit__component-selected--visible': promethee.inspected === component}">
      <div class="promethee-edit__toolbar promethee-edit__toolbar--transparent">
        <ng-include src="'promethee/write/toolbar'"></ng-include>
      </div>

      <div class="promethee-edit__wrapper" ng-bind-html="component.attributes.body | htmlSafe"></div>
    </div>
  </div>
</script>

<script>
  promethee.controller('TextController', ['$scope', function($scope) {

  }]);
</script>
