<script type="text/ng-template" id="promethee/components/text/localize">
  <div ng-show="component.master.attributes.body">
    <hr>

    <div class="row">
      <div class="col-md-6">
        <b>Text</b>
        <div ng-bind-html="component.master.attributes.body | htmlSafe"></div>
      </div>
      <div class="col-md-6">
        <b>Text</b>
        <summernote config="summernoteConfig" ng-model="component.attributes.body"></summernote>
        <pre class="hidden">{{component.attributes.search = (component.attributes.body | textContentFromHTML)}}</pre>
      </div>
    </div>
  </div>
</script>
