<%
  init = <<~JAVASCRIPT
    promethee.definitions.push({
      name: 'Page',
      icon: #{ promethee_component_render_icon 'page' },
      position: 0,
      library: false,
      data: {
        type: 'page',
        attributes: {
          title: {
            searchable: true,
            type: 'string',
            value: 'New page'
          },
          description: {
            searchable: true,
            type: 'text',
            value: ''
          },
          thumbnail: {
            searchable: false,
            type: 'blob',
            value: {
              id: undefined,
              name: ''
            }
          },
          stylesheets: {
            searchable: false,
            type: 'string',
            value: ''
          },
          javascripts: {
            searchable: false,
            type: 'string',
            value: ''
          }
        },
        children: []
      }
    })
  JAVASCRIPT
%>
<div ng-init="<%= init %>"></div>
