<script type="text/ng-template" id="promethee/components/page/localize">
  <div class="row">
    <div class="col-md-6">
      <b>Master</b>
      <input ng-model="component.master.attributes.title" type="text" class="form-control" disabled/>
      <input ng-model="component.master.attributes.description" type="text" class="form-control" disabled/>
    </div>
    <div class="col-md-6">
      <b>Local</b>
      <input ng-model="component.attributes.title" type="text" class="form-control">
      <input ng-model="component.attributes.description" type="text" class="form-control">
    </div>
  </div>
  <hr>
</script>
