<script type="text/ng-template" id="promethee/components/page/localize">
  <hr>

  <div class="row">
    <div class="col-md-6">
      <b>Page title</b>
      <p>{{component.master.attributes.title}}</p><br>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="label-control">Page title</label>
        <input class="form-control" ng-model="component.attributes.title" type="text">
      </div>
    </div>
  </div>

  <div class="row" ng-show="component.master.attributes.description">
    <div class="col-md-6">
      <div>
        <b>Page description</b>
        <p>{{component.master.attributes.description}}</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="label-control">Page description</label>
        <textarea class="form-control" ng-model="component.attributes.description"></textarea>
      </div>
    </div>
  </div>
</script>
