<script type="text/ng-template" id="promethee/components/page/localize">
  <% unless @disable_page_attributes %>
  <hr>

    <div class="row">
      <div class="col-md-6">
        <b>Page title</b>
        <p>{{master.attributes.title.value}}</p><br>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <b>Page title</b>
          <input class="form-control" ng-model="component.attributes.title.value" type="text">
        </div>
      </div>
    </div>

    <div class="row" ng-show="master.attributes.description.value || frozen_component.attributes.description.value">
      <div class="col-md-6">
        <div>
          <b>Page description</b>
          <p>{{master.attributes.description.value}}</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <b>Page description</b>
          <textarea class="form-control" ng-model="component.attributes.description.value"></textarea>
        </div>
      </div>
    </div>
  <% end %>
</script>
