<%
  init = <<~JAVASCRIPT
    promethee.definitions.push({
      name: 'FAQ Item',
      icon: #{ promethee_component_render_icon 'faq_item' },
      position: 55,
      library: false,
      data: {
        type: 'faq_item',
        attributes: {
          image: {
            searchable: false,
            translatable: false,
            type: 'blob',
            value: {
              id: undefined,
              name: ''
            }
          },
          title: {
            searchable: true,
            translatable: true,
            type: 'string',
            value: ''
          },
          body: {
            searchable: true,
            translatable: true,
            type: 'text',
            value: ''
          },
          special_question: {
            searchable: false,
            translatable: false,
            type: 'boolean',
            value: false
          }
        }
      }
    })
  JAVASCRIPT
%>
<div ng-init="<%= init %>"></div>
