<script type="text/ng-template" id="promethee/components/faq_item/edit/move">
  <%= render 'promethee/edit/move.header', type: 'faq_item' %>
      <div class="header">FAQ Item</div>
      <div class="row promethee-edit__faq_item__content{{ component.attributes.special_question.value ? '--special' : '' }}">
        <div class="col-9 col-xs-9">
          <h4>{{component.attributes.title.value}}</h4>
          <div ng-bind-html="component.attributes.body.value | htmlSafe"></div>
        </div>
        <div class="col-3 col-xs-3">
          <figure ng-show="component.attributes.image.value.id">
            <img ng-src="{{ component.attributes.image.value.id ? '/promethee/blob/' + component.attributes.image.value.id : '#' }}" class="img-fluid img-responsive">
          </figure>
        </div>
      </div>
    </div>
  </div>
</script>
