<script type="text/ng-template" id="promethee/components/faq_item/localize">
  <div ng-show="master.attributes.title.value || frozen_component.attributes.title.value">
    <hr>
    <div class="row js-translation-element">
      <div class="col-md-6">
        <b>Title</b>
        <p class="js-translation-source" data-type="string">{{master.attributes.title.value}}</p>
      </div>
      <div class="col-md-6 js-translation-target">
        <div class="form-group">
          <b>Title</b>
          <input class="form-control" ng-model="component.attributes.title.value" type="text">
        </div>
      </div>
    </div>
    <div class="row js-translation-element">
      <div class="col-md-6">
        <b>Body</b>
        <div class="js-translation-source" data-type="text" ng-bind-html="master.attributes.body.value | htmlSafe"></div>
      </div>
      <div class="col-md-6 js-translation-target">
        <div class="form-group">
          <b>Body</b>
          <summernote config="summernoteConfig" ng-model="component.attributes.body.value"></summernote>
        </div>
      </div>
    </div>
  </div>
</script>
