<script type="text/ng-template" id="promethee/move/component/cover">
    <div
      class="promethee-editor__wrapper promethee-editor__cover-content"
      ng-bind-html="component.attributes.body | htmlSafe"
      style="background-image: url('{{component.attributes.src}}')"
    ></div>
  </div>
</script>
