<script type="text/ng-template" id="promethee/move/component/row">
  <div class="header">Row</div>
  <div class="row">
    <ng-include src="'promethee/move/components'"></ng-include>
  </div>
</script>
