<script type="text/ng-template" id="promethee/move/component/slider">
  <h1>Slider</h1>

  <div ng-if="component.children.length > 0" ng-init="component = component.children[0]">
    <ng-include src="'promethee/move/component'"></ng-include>
  </div>
</script>
