<script type="text/ng-template" id="promethee/components/collection_item/edit/inspect">
  <div class="form-group">
    <label class="label-control">Media type</label>
    <div>
      <label class="radio-inline form-check form-check-inline"> <input ng-model="promethee.inspected.attributes.media_type.value" type="radio" value="image" class="form-check-input" />Image </label>
      <label class="radio-inline form-check form-check-inline"> <input ng-model="promethee.inspected.attributes.media_type.value" type="radio" value="video" class="form-check-input" />Video </label>
    </div>
  </div>

  <promethee-uploader ng-show="promethee.inspected.attributes.media_type.value == 'image'" ng-model="promethee.inspected.attributes.image.value" label="Image" limits="'.jpg,.jpeg,.png,.gif'"></promethee-uploader>

  <div class="form-group" ng-show="promethee.inspected.attributes.media_type.value == 'video'">
    <label class="label-control">Video URL</label>
    <input class="form-control" ng-model="promethee.inspected.attributes.video.value"></summernote>
  </div>

  <div class="row">
    <div class="col-xs-12 col-12">
      <div class="form-group">
        <label class="label-control">Caption</label>
        <summernote config="summernoteConfig" ng-model="promethee.inspected.attributes.caption.value"></summernote>
      </div>
    </div>
  </div>
</script>
