<script type="text/ng-template" id="promethee/components/collection_item/edit/move">
  <%= render 'promethee/edit/move.header', type: 'collection_item' %>
      <div class="header">Collection Item</div>
      <div class="row">
        <div class="col-xs-12">
          <img ng-show="component.attributes.media_type == 'image'" ng-src="{{ component.attributes.image.id ? '/promethee/blob/' + component.attributes.image.id : '#' }}" class="img-fluid img-responsive">
          <div ng-show="component.attributes.media_type == 'video'" ng-controller="CollectionItemVideoController">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe ng-if="embed" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="allowfullscreen" ng-src="{{embed | urlSafe}}"></iframe>
              <div class="video-neutralizing-overlay"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" ng-show="component.attributes.searchable_caption">
          <div class="collection-item-caption" ng-bind-html="component.attributes.searchable_caption | htmlSafe"></div>
        </fiv>
      </div>
    </div>
  </div>
</script>

<script>
  promethee.controller('CollectionItemVideoController', ['$scope', function($scope) {
    Object.defineProperty($scope, 'embed', {
      get: function() {
        var embed = null;
        var url = this.component.attributes.video.url + '';

        if(url.includes('vimeo')) {
          var id = url.replace(/^(?:https?:)?\/\/(?:(?:www|player)\.)?vimeo\.com\/(?:video\/)?(\d+).*?$/, '$1');
          embed = 'https://player.vimeo.com/video/' + id + '?color=ffffff&title=0&byline=0&portrait=0';
        }
        else if(url.includes('youtube')) {
          var parts = url.split('watch?v=');
          var id = parts[parts.length - 1];
          embed = 'https://www.youtube.com/embed/' + id;
        }
        else {
          var embed = url;
        }

        return embed;
      }
    })
  }]);
</script>
