<%
  init = <<~JAVASCRIPT
    promethee.definitions.push({
      name: 'Collection Item',
      icon: #{ promethee_component_render_icon 'collection_item' },
      position: 15,
      library: false,
      data: {
        type: 'collection_item',
        attributes: {
          searchable_caption: "",
          media_type: "image",
          image: {
            id: undefined,
            name: ""
          },
          video: {
            url: "https://vimeo.com/115082758"
          }
        }
      }
    })
  JAVASCRIPT
%>
<div ng-init="<%= init %>"></div>
