<script type="text/ng-template" id="promethee/components/collection_item/localize">
  <div ng-show="master.attributes.searchable_caption !== ''">
    <hr>
    <div class="row">
      <div class="col-md-6">
        <b>Collection Item Caption</b>
        <div class="promethee-edit__wrapper" ng-bind-html="master.attributes.searchable_caption | htmlSafe"></div>
      </div>
      <div class="col-md-6">
        <label class="label-control">Collection Item Caption</label>
        <summernote config="summernoteConfig" ng-model="component.attributes.searchable_caption"></summernote>
      </div>
    </div>
  </div>
</script>
