<script type="text/ng-template" id="promethee/components/image/edit/move">
  <%= render 'promethee/edit/move_header', type: 'image' %>
      <figure ng-show="component.attributes.image.value.id">
        <img  ng-src="{{ component.attributes.image.value.id ? '/promethee/blob/' + component.attributes.image.value.id : '#' }}"
              class="img-fluid img-responsive">
        <figcaption ng-show="component.attributes.caption.value">
          {{component.attributes.caption.value}}
        </figcaption>
      </figure>
      <div  ng-hide="component.attributes.image.value.id">
        <p  ng-hide="editing"
            class="text-center text-empty">Click to set the image</p>
      </div>
    </div>
  </div>
</script>
