<script type="text/ng-template" id="promethee/components/image/edit/inspect">

  <promethee-uploader ng-model="promethee.inspected.attributes.image" label="Image" limits="'.jpg,.jpeg,.png,.gif'"></promethee-uploader>

  <div class="form-group">
    <label class="label-control">Caption</label>
    <input class="form-control" ng-model="promethee.inspected.attributes.caption">
  </div>

  <%= render 'promethee/edit/inspect.advanced' %>
  <div ng-show="advancedConfigurationOpen">
    <div class="form-group">
      <label class="label-control">Alt</label>
      <input class="form-control" ng-model="promethee.inspected.attributes.alt">
    </div>
  </div>
</script>
