<script type="text/ng-template" id="promethee/components/image/edit/inspect">
  <div class="form-group" ngf-drop="upload($file, promethee.inspected)" ngf-pattern="'.jpg,.jpeg,.png,.gif'">
    <label class="label-control">Image</label>
    <p>{{promethee.inspected.attributes.blob.name}}</p>
    <div class="button btn btn-default" ngf-select="upload($file, promethee.inspected)" ngf-accept="'.jpg,.jpeg,.png,.gif'" class="drop-box">Select or drop an image</div>
    <div class="progress" ng-show="upload_progress != undefined && upload_progress != 0 && upload_progress != 100">
      <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{upload_progress}}%"></div>
    </div>
    <div class="alert alert-danger" ng-show="upload_error">{{upload_error}}</div>
  </div>

  <div class="form-group">
    <label class="label-control">Caption</label>
    <input class="form-control" ng-model="promethee.inspected.attributes.caption">
  </div>

  <div class="panel panel-default" ng-init="advancedConfigurationOpen = false">
    <div class="panel-heading" ng-click="advancedConfigurationOpen = !advancedConfigurationOpen">
      Advanced configuration
      <%= fa_icon 'angle-down', class: 'fa-pull-right', 'ng-class': "{'fa-rotate-180': advancedConfigurationOpen}", style: 'font-size: 18px' %>
    </div>
    <div class="panel-body" ng-show="advancedConfigurationOpen">
      <div class="form-group">
        <label class="label-control">Alt</label>
        <input class="form-control" ng-model="promethee.inspected.attributes.alt">
      </div>
    </div>
  </div>
</script>
