<script type="text/ng-template" id="promethee/components/image/edit/inspect">
  <div class="form-group">
    <label class="label-control">Image</label>
    <p>{{promethee.inspected.attributes.blob_name}}</p>
    <div class="button btn btn-default" ngf-select="upload($file)">Select an image</div>
  </div>

  <div class="form-group">
    <label class="label-control">Alt</label>
    <input class="form-control" ng-model="promethee.inspected.attributes.alt">
  </div>

  <div class="form-group">
    <label class="label-control">Caption</label>
    <summernote config="summernoteConfig" ng-model="promethee.inspected.attributes.caption"></summernote>
  </div>
</script>
