<%
  init = <<~JAVASCRIPT
    promethee.definitions.push({
      name: 'Image',
      icon: #{ promethee_component_render_icon 'image' },
      position: 2,
      library: true,
      data: {
        type: 'image',
        attributes: {
          image: {
            searchable: false,
            type: 'blob',
            value: {
              id: undefined,
              name: ''
            }
          },
          alt: {
            searchable: true,
            type: 'string',
            value: ''
          },
          caption: {
            searchable: true,
            type: 'string',
            value: ''
          }
        }
      }
    })
  JAVASCRIPT
%>
<div ng-init="<%= init %>"></div>
