<script type="text/ng-template" id="promethee/components/image/edit/inspect">

  <promethee-uploader ng-model="promethee.inspected.attributes.image.value" label="Image" limits="'.jpg,.jpeg,.png,.gif'"></promethee-uploader>

  <div class="form-group">
    <label class="label-control">Caption</label>
    <input class="form-control" ng-model="promethee.inspected.attributes.caption.value">
  </div>

  <%= render 'promethee/edit/inspect.advanced' %>
    <div class="form-group">
      <label class="label-control">Alt</label>
      <input class="form-control" ng-model="promethee.inspected.attributes.alt.value">
    </div>

    <div class="form-group">
      <label class="label-control">Title</label>
      <input class="form-control" ng-model="promethee.inspected.attributes.title.value">
    </div>
  </div>
</script>
