<%
  init = <<~JAVASCRIPT
    promethee.definitions.push({
      name: 'Image',
      icon: #{ promethee_component_render_icon 'image' },
      position: 2,
      library: true,
      data: {
        type: 'image',
        attributes: {
          image: {
            id: undefined,
            name: ''
          },
          alt: '',
          caption: ''
        }
      }
    })
  JAVASCRIPT
%>
<div ng-init="<%= init %>"></div>
