<script type="text/ng-template" id="promethee/components/image/localize">
  <div ng-show="component.master.attributes.alt || component.master.attributes.caption">
    <hr>
    <div class="row">
      <div class="col-md-6">
        <img ng-src="/promethee/blob/{{component.attributes.blob.id}}" class="img-responsive" />
        <div ng-show="component.master.attributes.alt">
          <b>Alt</b>
          <p>{{component.master.attributes.alt}}</p>
        </div>
        <div ng-show="component.master.attributes.caption">
          <b>Description</b>
          <p>{{component.master.attributes.caption | htmlSafe}}</p>
        </div>
      </div>
      <div class="col-md-6">
        <div ng-show="component.attributes.alt">
          <b>Alt</b>
          <input ng-model="component.attributes.alt" type="text" class="form-control">
        </div>
        <div ng-show="component.attributes.caption">
          <b>Description</b>
          <summernote config="options" ng-model="component.attributes.caption"></summernote>
        </div>
      </div>
    </div>
  </div>
</script>
