<script type="text/ng-template" id="promethee/components/image/localize">
  <div ng-show="component.master.attributes.alt || component.master.attributes.caption">
    <hr>

    <div class="row">
      <div class="col-md-6">
        <img ng-src="/promethee/blob/{{component.attributes.blob.id}}" class="img-responsive">
      </div>
    </div>

    <div class="row" ng-show="component.master.attributes.alt">
      <div class="col-md-6">
        <b>Alt</b>
        <p>{{component.master.attributes.alt}}</p>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="label-control">Alt</label>
          <input class="form-control" ng-model="component.attributes.alt" type="text">
        </div>
      </div>
    </div>

    <div class="row" ng-show="component.master.attributes.caption">
      <div class="col-md-6">
        <b>Caption</b>
        <p>{{component.master.attributes.caption}}</p>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="label-control">Caption</label>
          <input class="form-control" ng-model="component.attributes.caption" type="text">
        </div>
      </div>
    </div>
  </div>

  <pre class="hidden">{{component.attributes.search = (component.attributes.caption + ' ' + component.attributes.alt)}}</pre>
</script>
