<script type="text/ng-template" id="promethee/components/image/localize">
  <div ng-show="master.attributes.alt.value || frozen_component.attributes.alt.value || master.attributes.caption.value || frozen_component.attributes.caption.value">
    <hr>

    <div class="row">
      <div class="col-md-6">
        <img ng-src="/promethee/blob/{{master.attributes.image.value.id}}" class="img-fluid img-responsive" style="max-width: 200px">
      </div>
      <div class="col-md-6">
        <img ng-src="/promethee/blob/{{component.attributes.image.value.id}}" class="img-fluid img-responsive" style="max-width: 200px">
      </div>
    </div>

    <div class="row" ng-show="master.attributes.caption.value || frozen_component.attributes.caption.value">
      <div class="col-md-6">
        <b>Caption</b>
        <p>{{master.attributes.caption.value}}</p>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <b>Caption</b>
          <input class="form-control" ng-model="component.attributes.caption.value" type="text">
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-show="master.attributes.alt.value || frozen_component.attributes.alt.value">
    <div class="col-md-6">
      <b>Alt</b>
      <p>{{master.attributes.alt.value}}</p>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <b>Alt</b>
        <input class="form-control" ng-model="component.attributes.alt.value" type="text">
      </div>
    </div>
  </div>
</script>
