<script type="text/ng-template" id="promethee/components/image/localize">
  <hr>
  <div class="row">
    <div class="col-md-6">
      <img ng-src="{{component.master.attributes.src}}" class="img-responsive" />
      <b>Alt</b>
      <p>{{component.master.attributes.alt}}</p>
      <b>Description</b>
      <p>{{component.master.attributes.caption | htmlSafe}}</p>
    </div>
    <div class="col-md-6">
      <b>Alt</b>
      <input ng-model="component.attributes.alt" type="text" class="form-control">
      <b>Description</b>
      <summernote config="options" ng-model="component.attributes.caption"></summernote>
    </div>
  </div>
</script>
