<script type="text/ng-template" id="promethee/components/image/localize">
  <div class="row">
    <div class="col-md-6">
      <b>Local</b>
      <input ng-model="component.attributes.alt" type="text" class="form-control">
      <summernote
        config="{
          disableDragAndDrop: true,
          callbacks: {
            onPaste: function(event) {
              var bufferText = ((event.originalEvent || event).clipboardData || window.clipboardData).getData('Text');
              event.preventDefault();
              setTimeout(function() {
                document.execCommand('insertText', false, bufferText);
              }, 10);
            }
          },
          toolbar: [
            ['headline', ['style']],
            ['style', ['bold', 'italic']],
            ['alignment', ['ul', 'ol', 'paragraph']],
            ['code', ['codeview']]
          ]
        }"
        ng-model="component.attributes.caption"
      ></summernote>
    </div>
    <div class="col-md-6">
      <b>Master</b>
      <img ng-src="{{component.master.attributes.src}}" class="img-responsive" />
      <input ng-model="component.master.attributes.alt" type="text" class="form-control" disabled/>
      <div class="promethee-edit__wrapper" ng-bind-html="component.master.attributes.caption | htmlSafe"></div>
    </div>
  </div>
  <hr>
</script>
