<%
blob = blob_from_data component[:attributes].dig(:image, :value)

alt = component[:attributes].dig(:alt, :value)&.to_s
title = component[:attributes].dig(:title, :value)&.to_s
caption = component[:attributes].dig(:caption, :value)&.to_s
%>
<figure class="<%= promethee_class_for component %>"
        id="<%= promethee_id_for component %>">
  <div class="promethee__component__row">
    <div class="promethee__component__content">
      <%= render 'promethee/show/image.srcset', blob: blob, alt: alt, title: title, caption: caption if blob %>
      <% unless caption.blank? %>
        <figcaption>
          <%= caption %>
        </figcaption>
      <% end %>
    </div>
  </div>
</figure>
