<script type="text/ng-template" id="promethee/write/component/column">
  <div
    ng-click="inspect(component, $event)"
    class="
      col
      col-md-{{component.attributes.size}}
      col-md-offset-{{component.attributes.offset}}
      promethee-editor__component
      promethee-editor__component--column
    "
    >
    <div class="promethee-editor__component-selected" ng-class="{'promethee-editor__component-selected--visible': promethee.inspected === component}">
      <div class="promethee-editor__toolbar">
        Column
        <ng-include src="'promethee/write/toolbar'"></ng-include>
      </div>
      <ng-include src="'promethee/write/components'"></ng-include>
      <ng-include src="'promethee/write/add_button'"></ng-include>
    </div>
  </div>
</script>