<script type="text/ng-template" id="promethee/write/component/cover">
  <div
    ng-controller="CoverController"
    ng-click="inspect(component, $event)"
    class="promethee-editor__component promethee-editor__component--cover"
  >
    <div class="promethee-editor__component-selected" ng-class="{'promethee-editor__component-selected--visible': promethee.inspected === component}">
      <div class="promethee-editor__toolbar">
        Cover
        <ng-include src="'promethee/write/toolbar'"></ng-include>
      </div>

      <div
        ng-hide="editing"
        class="promethee-editor__wrapper promethee-editor__cover-content"
        ng-bind-html="component.attributes.body | htmlSafe"
        ng-click="edit()"
        style="background-image: url('{{component.attributes.src}}')"
      ></div>

      <div
        ng-show="editing"
        class="promethee-editor__wrapper promethee-editor__cover-content"
        style="background-image: url('{{component.attributes.src}}')"
      >
        <summernote config="options" ng-model="component.attributes.body"></summernote>
      </div>
    </div>
  </div>
</script>

<script>
  angular.injector(['ng', 'Promethee']).get('definitions').push({
    name: 'Cover',
    thumb: 'http://via.placeholder.com/300x200',
    data: {
      type: 'cover',
      attributes: {
        src: 'https://picsum.photos/1920/1080/?random',
        body: ''
      }
    }
  });

  promethee.controller('CoverController', ['$scope', function($scopen) {
    $scope.options = {
      toolbar: [
        ['headline', ['style']],
        ['style', ['bold', 'italic']],
        ['alignment', ['ul', 'ol', 'paragraph']],
        ['code', ['codeview']]
      ]
    };
  }]);
</script>
