<script type="text/ng-template" id="promethee/write/component/image">
  <div ng-controller="ImageController" class="promethee-editor__component promethee-editor__component--image">
    <div class="promethee-editor__toolbar">
      Image
      <ng-include src="'promethee/write/toolbar'"></ng-include>
    </div>
    <div ng-show="editing" class="promethee-editor__wrapper">
      <div class="form-group">
        <label class="label-control">Url</label>
        <input ng-model="component.attributes.src" class="form-control" type="text"/>
      </div>
      <div class="form-group">
        <label class="label-control">Alt</label>
        <input ng-model="component.attributes.alt" class="form-control" type="text"/>
      </div>
      <div class="form-group">
        <label class="label-control">Caption</label>
        <summernote config="options" ng-model="component.attributes.caption"></summernote>
      </div>
    </div>
    <figure ng-show="component.attributes.src">
      <img ng-click="edit()" ng-src="{{component.attributes.src}}" class="img-responsive">
      <figcaption ng-show="component.attributes.caption" ng-bind-html="component.attributes.caption | htmlSafe"></figcaption>
    </figure>
    <div ng-hide="component.attributes.src">
      <p ng-hide="editing" ng-click="edit()" class="text-center">Click to set the image</p>
    </div>
  </div>
</script>

<script>
  angular.injector(['ng', 'Promethee']).get('definitions').push({
    name: 'Image',
    thumb: 'http://via.placeholder.com/300x200',
    data: {
      type: 'image',
      attributes: {
        src: 'https://source.unsplash.com/random/1920x1080',
        alt: '',
        caption: ''
      }
    }
  });

  promethee.controller('ImageController', ['$scope', function($scope) {
    $scope.editing = false;

    $scope.edit = function() {
      $scope.editing = true;
    };

    $scope.complete = function() {
      $scope.editing = false;
    };

    $scope.toggleEdit = function() {
      $scope.editing = !$scope.editing;
    };

    $scope.options = {
      toolbar: [
        ['headline', ['style']],
        ['style', ['bold', 'italic']],
        ['alignment', ['ul', 'ol', 'paragraph']],
        ['code', ['codeview']]
      ]
    };
  }]);
</script>
