<script type="text/ng-template" id="promethee/write/component/video">
  <div
    ng-controller="VideoController"
    ng-click="inspect(component, $event)"
    class="promethee-editor__component promethee-editor__component--video"
  >
    <div class="promethee-editor__component-selected" ng-class="{'promethee-editor__component-selected--visible': promethee.inspected === component}">
      <div class="promethee-editor__toolbar">
        Video
        <ng-include src="'promethee/write/toolbar'"></ng-include>
      </div>

      <div class="embed-responsive embed-responsive-16by9">
        <iframe ng-if="embed" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="allowfullscreen" ng-src="{{embed | urlSafe}}"></iframe>
        <div class="video-neutralizing-overlay"></div>
      </div>
    </div>
  </div>
</script>

<script>
  angular.injector(['ng', 'Promethee']).get('definitions').push({
    name: 'Video',
    thumb: 'http://via.placeholder.com/300x200',
    data: {
      type: 'video',
      attributes: {
        url: 'https://vimeo.com/115082758'
      }
    }
  });

  promethee.controller('VideoController', ['$scope', function($scope) {
    Object.defineProperty($scope, 'editing', {
      get: function() {
        return inspected == $scope.component;
      }
    });

    $scope.edit = function(event) {
      event.stopPropagation();
      inspected = $scope.component;
    };

    $scope.complete = function() {
      inspected = null;
    };

    $scope.toggleEdit = function() {
      $scope[$scope.editing ? 'complete' : 'edit']();
    };

    Object.defineProperty($scope, 'embed', {
      get: function() {
        var embed = null;
        var url = this.component.attributes.url + '';

        if(url.includes('vimeo')) {
          var id = url.replace(/^(?:https?:)?\/\/(?:(?:www|player)\.)?vimeo\.com\/(?:video\/)?(\d+).*?$/, '$1');
          embed = 'https://player.vimeo.com/video/' + id + '?color=ffffff&title=0&byline=0&portrait=0';
        }
        else if(url.includes('youtube')) {
          var parts = url.split('watch?v=');
          var id = parts[parts.length - 1];
          embed = 'http://www.youtube.com/embed/' + id;
        }

        return embed;
      }
    })
  }]);
</script>
