<script type="text/ng-template" id="promethee/move/component">
  <div class="promethee-editor__move__component">
    <ng-include src="'promethee/move/component/' + component.type"></ng-include>
  </div>
</script>
