<%
  init = <<~JAVASCRIPT
    promethee.definitions.push({
      name: 'Table',
      icon: #{ promethee_component_render_icon 'table' },
      position: 60,
      library: true,
      data: {
        type: 'table',
        attributes: {
          structure: {
            searchable: false,
            translatable: false,
            type: 'matrix',
            value: []
          },
          data: {
            searchable: false,
            translatable: false,
            type: 'hash',
            value: {}
          }
        }
      }
    })
  JAVASCRIPT
%>
<div ng-init="<%= init %>"></div>
