<%
  init = <<~JAVASCRIPT
    promethee.definitions.push({
      name: 'Table',
      icon: #{ promethee_component_render_icon 'table' },
      position: 60,
      library: true,
      data: {
        type: 'table',
        attributes: {
          cols: [],
          cols_data: {},
          rows: [],
          rows_data: {}
        }
      }
    })
  JAVASCRIPT
%>
<div ng-init="<%= init %>"></div>