<%
  init = <<~JAVASCRIPT
    promethee.definitions.push({
      name: 'Table',
      icon: #{ promethee_component_render_icon 'table' },
      position: 60,
      library: true,
      data: {
        type: 'table',
        attributes: {
          head: [
            {
              searchable_text: 'Column 1'
            },
            {
              searchable_text: 'Column 2'
            },
            {
              searchable_text: 'Column 3'
            }
          ],
          body: [
            [
              {
                searchable_text: 'Text 1'
              },
              {
                searchable_text: 'Text 2'
              },
              {
                searchable_text: 'Text 3'
              }
            ]
          ]
        }
      }
    })
  JAVASCRIPT
%>
<div ng-init="<%= init %>"></div>