<script type="text/ng-template" id="promethee/components/table/edit/move">
  <%= render 'promethee/edit/move.header', type: 'table' %>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th ng-repeat="th in component.attributes.head">{{th.searchable_text}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="tr in component.attributes.body">
              <td ng-repeat="td in tr">{{td.searchable_text}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</script>