<script type="text/ng-template" id="promethee/components/table/edit/move">
  <%= render 'promethee/edit/move.header', type: 'table' %>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th ng-repeat="cellUid in component.attributes.structure.value[0]">
                {{component.attributes.data.value[cellUid].text.value}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in component.attributes.structure.value" ng-if="$index > 0">
              <td ng-repeat="cellUid in row">
                {{component.attributes.data.value[cellUid].text.value}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</script>
