<script type="text/ng-template" id="promethee/components/table/edit/move">
  <%= render 'promethee/edit/move.header', type: 'table' %>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th ng-repeat="colUid in component.attributes.cols">
                {{component.attributes.cols_data[colUid].searchable_text}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="rowUid in component.attributes.rows">
              <td ng-repeat="colUid in component.attributes.cols">
                {{component.attributes.rows_data[rowUid][colUid].searchable_text}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</script>