<script type="text/ng-template" id="promethee/components/table/localize">
  <hr>

  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th ng-repeat="colUid in master.attributes.cols track by $index">
              {{ master.attributes.cols_data[colUid].searchable_text }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="rowUid in master.attributes.rows">
            <td ng-repeat="colUid in master.attributes.cols">
              {{ master.attributes.rows_data[rowUid][colUid].searchable_text }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th ng-repeat="colUid in master.attributes.cols track by $index">
              <input  type="text"
                      ng-model="component.attributes.cols_data[colUid].searchable_text"
                      class="form-control">
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="rowUid in master.attributes.rows">
            <td ng-repeat="colUid in master.attributes.cols">
              <input  class="form-control"
                      ng-model="component.attributes.rows_data[rowUid][colUid].searchable_text"
                      type="text">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</script>
