<%
  cells = component[:children]
  rows = component.dig(:attributes, :structure, :value).map { |row|
    row.map { |cellUid|
      {
        uid: cellUid,
        text: cells.find { |cell| cell[:id] == cellUid }.dig(:attributes, :text, :value)
      }
    }
  }

  headerRow = rows.shift
%>

<div id="component-<%= component[:id] %>" class="<%= promethee_class_for(component) %>">
  <% unless headerRow.nil? %>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <% headerRow.each do |cell| %>
              <th><%= cell[:text] %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% rows.each do |row| %>
            <tr>
              <% row.each do |cell| %>
                <td><%= cell[:text] %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
