<script>
  angular.injector(['ng', 'Promethee']).get('presets').push({
    name: 'Image with text',
    icon: <%= promethee_preset_render_icon 'image-with-text' %>,
    position: 1,
    components: [
      {
        "type": "row",
        "attributes": {
          bgcolor: {
            searchable: false,
            translatable: false,
            type: 'color',
            value: "rgba(255,255,255,0)",
          },
          backgrounds: {
            searchable: false,
            translatable: false,
            type: 'array',
            value: []
          }
        },
        "children": [
          {
            "type": "column",
            "attributes": {
              size: {
                searchable: false,
                translatable: false,
                type: 'integer',
                value: 4
              },
              offset: {
                searchable: false,
                translatable: false,
                type: 'integer',
                value: 0
              },
              mobile: {
                searchable: false,
                translatable: false,
                type: 'hash',
                value: {
                  enabled: {
                    searchable: false,
                    translatable: false,
                    type: 'boolean',
                    value: false
                  },
                  size: {
                    searchable: false,
                    translatable: false,
                    type: 'integer',
                    value: 12
                  },
                  offset: {
                    searchable: false,
                    translatable: false,
                    type: 'integer',
                    value: 0
                  }
                }
              },
              tablet: {
                searchable: false,
                translatable: false,
                type: 'hash',
                value: {
                  enabled: {
                    searchable: false,
                    translatable: false,
                    type: 'boolean',
                    value: false
                  },
                  size: {
                    searchable: false,
                    translatable: false,
                    type: 'integer',
                    value: 12
                  },
                  offset: {
                    searchable: false,
                    translatable: false,
                    type: 'integer',
                    value: 0
                  }
                }
              }
            },
            "children": [
              {
                "type": "image",
                "attributes": {
                  image: {
                    searchable: false,
                    translatable: false,
                    type: 'blob',
                    value: {
                      id: undefined,
                      name: ''
                    }
                  },
                  alt: {
                    searchable: true,
                    translatable: true,
                    type: 'string',
                    value: ''
                  },
                  caption: {
                    searchable: true,
                    translatable: true,
                    type: 'string',
                    value: ''
                  }
                }
              }
            ]
          },
          {
            "type": "column",
            "attributes": {
              size: {
                searchable: false,
                translatable: false,
                type: 'integer',
                value: 8
              },
              offset: {
                searchable: false,
                translatable: false,
                type: 'integer',
                value: 0
              },
              mobile: {
                searchable: false,
                translatable: false,
                type: 'hash',
                value: {
                  enabled: {
                    searchable: false,
                    translatable: false,
                    type: 'boolean',
                    value: false
                  },
                  size: {
                    searchable: false,
                    translatable: false,
                    type: 'integer',
                    value: 12
                  },
                  offset: {
                    searchable: false,
                    translatable: false,
                    type: 'integer',
                    value: 0
                  }
                }
              },
              tablet: {
                searchable: false,
                translatable: false,
                type: 'hash',
                value: {
                  enabled: {
                    searchable: false,
                    translatable: false,
                    type: 'boolean',
                    value: false
                  },
                  size: {
                    searchable: false,
                    translatable: false,
                    type: 'integer',
                    value: 12
                  },
                  offset: {
                    searchable: false,
                    translatable: false,
                    type: 'integer',
                    value: 0
                  }
                }
              }
            },
            "children": [
              {
                "type": "text",
                "attributes": {
                  body: {
                    searchable: true,
                    translatable: true,
                    type: 'text',
                    value: '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dicta, est quos distinctio culpa! Quasi cupiditate, totam nulla reprehenderit animi iusto qui cumque culpa repellat eum sit? Debitis, laboriosam reiciendis!</p>'
                  }
                }
              }
            ]
          }
        ]
      }
    ]
  });
</script>
