<script>
  angular.injector(['ng', 'Promethee']).get('presets').push({
    name: 'Image with text',
    icon: <%= render('promethee/presets/icon.image-with-text').to_json.html_safe %>,
    position: 1,
    components: [
      {
        "type": "row",
        "attributes": {
          "bgcolor": "rgba(255,255,255,0)",
          "backgrounds": []
        },
        "children": [
          {
            "type": "column",
            "attributes": {"size": 4, "offset": 0},
            "children": [
              {
                "type": "image",
                "attributes": {"id": undefined, "name": ''}
              }
            ]
          },
          {
            "type": "column",
            "attributes": {"size": 8, "offset": 0},
            "children": [
              {
                "type": "text",
                "attributes": {"searchable_body": "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dicta, est quos distinctio culpa! Quasi cupiditate, totam nulla reprehenderit animi iusto qui cumque culpa repellat eum sit? Debitis, laboriosam reiciendis!</p>"}
              }
            ]
          }
        ]
      }
    ]
  });
</script>
