.promethee-loader
    background-color: white
    bottom: 0
    left: 0
    position: fixed
    right: 0
    top: 0
    z-index: 9999
    &__inner
        margin: 20% auto 0 auto
        text-align: center
        img
            display: block
            margin: 0 auto
