.promethee-edit__move
    margin: 0 auto
    width: 720px
    .promethee-edit__component
        font-size: 100%
        line-height: 100%
        &__inner
            border: 1px solid #CCCCCC
            display: flex
            flex-direction: column
            justify-content: flex-start
            min-height: 70px
            position: relative
            p.text-empty
                margin-bottom: 0
        &--selected
            > .promethee-edit__component__inner
                border-color: black
                > .header
                    background: black
                    color: white
        &__remove
            background: white
            font-size: 12px
            line-height: 12px
            padding: 1px 2px 1px 3px
            position: absolute
            right: 4px
            top: 4px
            z-index: 1

        &--row
            .row
                margin-left: -10px
                margin-right: -10px
            .promethee-edit__component--column
                padding-bottom: 5px
                padding-top: 5px

        &--text
            .promethee-edit__component__inner
                padding: 10px
            h1, h2, h3
                margin-top: 0
            p
                line-height: 1.2
                &:last-of-type
                    margin-bottom: 0

        &--image
            figure
                margin-bottom: 0
            figcaption
                padding: 5px

        &--aside
            .btn
                &.left
                    text-align: left
                &.center
                    text-align: center
                &.right
                    text-align: right

        &--faq_item
            margin-bottom: 10px

        &--slider
            .carousel
                align-items: stretch
                display: flex
                justify-content: space-around
                .col-xs-8,
                .col-xs-1,
                .col-8,
                .col-1
                    padding: 0

                .col-xs-1,
                .col-1
                    align-items: center
                    display: flex
                    justify-content: center
                p
                    &:last-of-type
                        margin-bottom: 0
            .dots
                margin-top: 5px
                text-align: center

                & > span
                    background-color: #AAAAAA
                    border-radius: 50%
                    color: transparent
                    display: inline-block
                    height: 8px
                    margin: 0 2px
                    width: 8px

                    &.active
                        background-color: #777777
        &--slider_item
            .slider-item-caption
                margin: 10px 0 5px 0

        &--collection_item
            .collection-item-caption
                overflow: hidden
                text-overflow: ellipsis
                white-space: nowrap
                width: 100%

    &__columns
        .row.grid
            bottom: 0
            height: 100%
            min-height: 50px
            opacity: 0.03
            pointer-events: none
            position: fixed
            top: 0
            user-select: none
            width: 730px
            z-index: 0
            .col
                height: 100%
                .color
                    background: black
                    height: 100%
    &__page
        height: calc(100vh - 50px)
        overflow-x: hidden
        overflow-y: auto
        padding-bottom: 50px
        z-index: 1
    &__columns, &__page
        .row
            margin-left: -5px
            margin-right: -5px
        .col
            padding-left: 5px
            padding-right: 5px
    .header
        background: #CCCCCC
        color: white
        font-size: 8px
        margin-bottom: 5px
        padding: 5px 10px
        text-transform: uppercase
    &__component
        user-select: none

    &__droppable
        background: white
        border: 0 dashed #253742
        box-sizing: border-box
        opacity: .2
        position: relative
        transition: all .5s
        width: calc(100% - 4px)
        &.ui-droppable-active
            border-width: 1px
            height: 20px
            margin: 2px
        &.ui-droppable-hover
            height: 100px
            opacity: 1

    .ui-draggable-dragging
        opacity: 0.5
        z-index: 1000
        // Nothing is droppable inside components being dragged
        .promethee-edit__move__droppable
            visibility: hidden !important

    .promethee-edit
        &__inspect, &__library
            background: white
            bottom: 0
            min-width: 100px
            overflow-x: hidden
            overflow-y: auto
            padding: 30px 20px 15px
            position: fixed
            top: 50px
            width: calc(50vw - 367px)
            z-index: 1000
            &-header
                font-size: 18px
                font-weight: bold
                margin-bottom: 20px
                text-transform: uppercase

        &__inspect
            right: 0

            label.label-control
                font-weight: normal

            .list-unstyled
                li
                    padding: 2px 0
                    .label
                        font-size: 75%
                        margin-left: 10px
                        user-select: none
                        &:hover
                            cursor: pointer

        &__library
            left: 0
            padding-left: 10px
            padding-right: 10px
            &-header
                padding-left: 10px

            &__item-container, &__item
                display: inline-block
            &__item
                background-color: #253742
                color: white
                height: 100px
                margin: 0 10px 20px
                max-width: 100px
                min-width: 100px
                padding: 10px 5px 0 5px
                text-align: center
                z-index: 100000
                &__icon
                    display: block
                    height: 64px
                    svg
                        height: auto
                        width: 60px
                &__name
                    font-size: 11px
                    font-weight: normal
                    margin-top: -10px
                    text-transform: uppercase
