.promethee-edit__move
  width: 432px
  margin: 0 auto
  padding-bottom: 200px
  *
    font-size: 100%
    line-height: 100%
    margin: 0
  .header
    padding: 5px 0
    font-size: 9px
    text-transform: uppercase
    border-bottom: 1px solid #ccc
  &__component
    user-select: none

  .row
    margin-left: -5px
    margin-right: -5px
  .col
    padding-left: 5px
    padding-right: 5px

  &__droppable
    visibility: hidden
    margin: 10px 0
    position: relative
    background: #253742
    width: 100%
    height: 10px
    transition: width .2s, height .2s
    &.ui-droppable-active
      visibility: visible
      height: 10px
    &.ui-droppable-hover
      height: 20px
    &--row
      position: absolute
      display: none
      width: 10px
      height: 100%
      &.ui-droppable-active
        width: 10px
        height: 100%
      &.ui-droppable-hover
        width: 20px
        height: 100%
      &--first
        display: block
        left: -10px
        top: 9px
      &--inside-column
        display: block
        right: -10px
        top: -11px

  // All this is done to mask droppable that would put the draggable at the same position 
    // &--hidden
    //   visibility: hidden
    //   pointer-events: none
  //   &--row
  //     &:not(&--first)
  //       visibility: hidden
  //       pointer-events: none

  //     &--first
  //       position: absolute
  //       top: 0
  //       left: -25px
  //       width: 40px
  //       height: 400px

  //     &--inside-column
  //       position: absolute
  //       top: 0
  //       right: -25px
  //       width: 40px
  //       height: 400px


  .ui-draggable-dragging
    z-index: 1000
    opacity: 0.5
    // Nothing is droppable inside components being dragged
    .promethee-edit__move__droppable
      visibility: hidden !important

  // By default, nothing is dropped in rows
  &--dragging
    .promethee-edit__move__droppable--row
      display: none

  // Except for columns, which can be dropped only on rows
  &--dragging.promethee-edit__move--dragging--column
    .promethee-edit__move__droppable
      display: none
      // It's a little specific, columns can be dropped on rows "first droppable", or on columns "inside droppables"
      &.promethee-edit__move__droppable--row--inside-column,
      &.promethee-edit__move__droppable--row--first
        display: block


