<%= render 'application/header' %>
<div class="row">
  <div class="col-md-6">
    <p>Data</p>
    <pre><%= JSON.pretty_generate @data %></pre>
  </div>
  <div class="col-md-6">
    <p>Localization</p>
    <pre><%= JSON.pretty_generate @localization %></pre>
  </div>
</div>