<div  class="<%= promethee_class_for component %>"
      id="<%= promethee_id_for component %>">
  <div class="promethee__component__row">
    <div class="promethee__component__content">
      <% component[:children].each do |child| %>
      <%= render 'promethee/show/component', component: child %>
      <% end %>
    </div>
  </div>
</div>
