<script type="text/ng-template" id="promethee/components/aside/edit/write">
  <aside  ng-click="inspect(component, $event)"
        class=" promethee-edit__component
                promethee-edit__component--aside">
    <div class="promethee-edit__component-selected" ng-class="{'promethee-edit__component-selected--visible': promethee.inspected === component}">
      <div class="promethee-edit__toolbar">
        Aside
        <ng-include src="'promethee/write/toolbar'"></ng-include>
      </div>
      <ng-include src="'promethee/write/components'"></ng-include>
      <ng-include src="'promethee/write/add_button'"></ng-include>
    </div>
  </div>
</script>
