<script type="text/ng-template" id="promethee/components/aside/edit/move">
  <%= render 'promethee/edit/move.header', type: 'aside' %>
      <aside ng-if="component.attributes.collapsed_content">
        {{component.attributes.visible_content | htmlSafe}}
        <div ng-hide="collapsed" ng-bind-html="component.attributes.collapsed_content | htmlSafe"></div>
        <a data-toggle="collapse" href="#aside-collapse-{{component.id}}">{/a>
      </aside>

      <aside ng-if="!component.attributes.collapsed_content" ng-bind-html="component.attributes.visible_content"></aside>
    </div>
  </div>
</script>
