<%
  init = <<~JAVASCRIPT
    promethee.definitions.push({
      name: 'Aside',
      icon: #{ promethee_component_render_icon 'aside' },
      position: 30,
      library: true,
      data: {
        type: 'aside',
        attributes: {
          visible_content: {
            searchable: true,
            type: 'text',
            value: '<p>Edit me</p>'
          },
          collapsed_content: {
            searchable: true,
            type: 'text',
            value: ''
          },
          open_label: {
            searchable: true,
            type: 'string',
            value: 'See more'
          },
          open_label_position: {
            collection: [
              { label: 'Left', value: 'left' },
              { label: 'Center', value: 'center' },
              { label: 'Right', value: 'right' }
            ],
            searchable: false,
            type: 'enum',
            value: 'left'
          }
        },
        children: []
      }
    })
  JAVASCRIPT
%>
<div ng-init="<%= init %>"></div>
