<%
  init = <<~JAVASCRIPT
    promethee.definitions.push({
      name: 'Aside',
      icon: #{ promethee_component_render_icon 'aside' },
      position: 30,
      library: true,
      data: {
        type: 'aside',
        attributes: {
          visible_content: '<p>Edit me</p>',
          collapsed_content: '',
          open_label: 'See more',
          open_label_position: 'left'
        },
        children: []
      }
    })
  JAVASCRIPT
%>
<div ng-init="<%= init %>"></div>
