<script type="text/ng-template" id="promethee/components/aside/edit/move">
  <%= render 'promethee/edit/move.header', type: 'aside' %>
      <aside  ng-show="component.attributes.collapsed_content.value"
              ng-init="collapsed = true">
        <div  ng-bind-html="component.attributes.visible_content.value | htmlSafe"></div>
        <div  ng-hide="collapsed"
              ng-bind-html="component.attributes.collapsed_content.value | htmlSafe"></div>
        <a    class="btn btn-default btn-light btn-block"
              ng-class="component.attributes.open_label_position.value"
              ng-click="collapsed = !collapsed"
              ng-bind-html="component.attributes.open_label.value | htmlSafe"></a>
      </aside>
      <aside  ng-hide="component.attributes.collapsed_content.value"
              ng-bind-html="component.attributes.visible_content.value | htmlSafe"></aside>
    </div>
  </div>
</script>
