<script type="text/ng-template" id="promethee/components/aside/localize">
  <hr>

  <div class="row">
    <div class="col-md-6">
      <b>Aside visible content</b>
      <div ng-bind-html="component.master.attributes.visible_content | htmlSafe"></div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="label-control">Aside visible content</label>
        <summernote config="summernoteConfig" ng-model="component.attributes.visible_content"></summernote>
      </div>
    </div>
  </div>

  <div class="row" ng-show="component.master.attributes.collapsed_content">
    <div class="col-md-6">
      <b>Aside collapsed content</b>
      <div ng-bind-html="component.master.attributes.collapsed_content | htmlSafe"></div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="label-control">Aside collapsed content</label>
        <summernote config="summernoteConfig" ng-model="component.attributes.collapsed_content"></summernote>
      </div>
    </div>
  </div>
  
  <pre class="hidden">{{component.attributes.search = ((component.attributes.visible_content | textContentFromHTML) + ' ' + (component.attributes.collapsed_content | textContentFromHTML))}}</pre>
</script>
