<script type="text/ng-template" id="promethee/components/aside/localize">
  <hr>

  <div class="row">
    <div class="col-md-6">
      <b>Aside visible content</b>
      <div ng-bind-html="component.master.attributes.searchable_visible_content | htmlSafe"></div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="label-control">Aside visible content</label>
        <summernote config="summernoteConfig" ng-model="component.attributes.searchable_visible_content"></summernote>
      </div>
    </div>
  </div>

  <div class="row" ng-show="component.master.attributes.searchable_collapsed_content">
    <div class="col-md-6">
      <b>Aside collapsed content</b>
      <div ng-bind-html="component.master.attributes.searchable_collapsed_content | htmlSafe"></div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="label-control">Aside collapsed content</label>
        <summernote config="summernoteConfig" ng-model="component.attributes.searchable_collapsed_content"></summernote>
      </div>
    </div>
  </div>

  <div class="row" ng-show="component.master.attributes.searchable_collapsed_content">
    <div class="col-md-6">
      <b>Button label</b>
      <div ng-bind-html="component.master.attributes.searchable_open_label | htmlSafe"></div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="label-control">Button label</label>
        <input class="form-control" ng-model="component.attributes.searchable_open_label" type="text">
      </div>
    </div>
  </div>
</script>
