<script type="text/ng-template" id="promethee/components/aside/localize">
  <hr>

  <div class="row js-translation-element">
    <div class="col-md-6">
      <b>Aside visible content</b>
      <div class="js-translation-source" data-type="text" ng-bind-html="master.attributes.visible_content.value | htmlSafe"></div>
    </div>
    <div class="col-md-6 js-translation-target">
      <div class="form-group">
        <b>Aside visible content</b>
        <summernote config="summernoteConfig" ng-model="component.attributes.visible_content.value"></summernote>
      </div>
    </div>
  </div>

  <div class="row js-translation-element" ng-show="master.attributes.collapsed_content.value || frozen_component.attributes.collapsed_content.value">
    <div class="col-md-6">
      <b>Aside collapsed content</b>
      <div class="js-translation-source" data-type="text" ng-bind-html="master.attributes.collapsed_content.value | htmlSafe"></div>
    </div>
    <div class="col-md-6 js-translation-target">
      <div class="form-group">
        <b>Aside collapsed content</b>
        <summernote config="summernoteConfig" ng-model="component.attributes.collapsed_content.value"></summernote>
      </div>
    </div>
  </div>

  <div class="row js-translation-element" ng-show="master.attributes.open_label.value || frozen_component.attributes.open_label.value">
    <div class="col-md-6">
      <b>Button label</b>
      <div class="js-translation-source" data-type="string" ng-bind-html="master.attributes.open_label.value | htmlSafe"></div>
    </div>
    <div class="col-md-6 js-translation-target">
      <div class="form-group">
        <b>Button label</b>
        <input class="form-control" ng-model="component.attributes.open_label.value" type="text">
      </div>
    </div>
  </div>
</script>
