<%
  init = <<~JAVASCRIPT
    promethee.definitions.push({
      name: 'Blockquote',
      icon: #{ promethee_component_render_icon 'blockquote' },
      position: 50,
      library: true,
      data: {
        type: 'blockquote',
        attributes: {
          body: {
            searchable: true,
            type: 'text',
            value: '<p>Edit me</p>',
          },
          author: {
            searchable: true,
            type: 'string',
            value: ''
          }
        }
      }
    })
  JAVASCRIPT
%>
<div ng-init="<%= init %>"></div>
