<script type="text/ng-template" id="promethee/components/blockquote/localize">
  <div ng-show="component.master.attributes.searchable_body">
    <hr>
    <div class="row">
      <div class="col-md-6">
        <b>Body</b>
        <div ng-bind-html="component.master.attributes.searchable_body | htmlSafe"></div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="label-control">Body</label>
          <summernote config="summernoteConfig" ng-model="component.attributes.searchable_body"></summernote>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-show="component.master.attributes.searchable_author">
    <div class="col-md-6">
      <b>Author</b>
      <p>{{component.master.attributes.searchable_author}}</p>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="label-control">Author</label>
        <input class="form-control" ng-model="component.attributes.searchable_author" type="text">
      </div>
    </div>
  </div>
</script>
