<%
  body = component[:attributes].dig(:body, :value)&.to_s&.html_safe
  author = component[:attributes].dig(:author, :value)&.to_s
%>

<div  class="<%= promethee_class_for(component) %>"
      id="<%= promethee_id_for component %>">
  <div class="promethee__component__row">
    <div class="promethee__component__content">
      <blockquote class="blockquote">
        <div><%= body %></div>
        <% if author.present? %>
            <footer class="author"><%= author %></footer>
        <% end %>
      </blockquote>
    </div>
  </div>
</div>
