<%
  body = component[:attributes][:searchable_body].to_s
  author = component[:attributes][:searchable_author].to_s
%>

<div class="row <%= promethee_class_for(component) %>">
  <div class="col-md-12">
    <div class="blockquote"><%= body.html_safe %></div>
    <% if author.present? %>
      <p class="author"><%= author %></p>
    <% end %>
  </div>
</div>
