<script type="text/ng-template" id="promethee/components/table_cell/localize">
  <div ng-show="master.attributes.text.value !== ''">
    <div class="row mt-2" ng-show="master.attributes.text.value !== ''">
      <div class="col-md-6">
        <b>Text</b>
        <p>{{ master.attributes.text.value }}</p>
      </div>
      <div class="col-md-6">
        <b>Text</b>
        <input class="form-control" ng-model="component.attributes.text.value" type="text">
      </div>
    </div>
  </div>
</script>
