@import 'promethee'
@import 'promethee-editor'
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,700')

.logo
  max-width: 280px
  margin: 0 auto
  display: block

*
  font-family: 'Catamaran', sans-serif
