<script type="text/ng-template" id="promethee/components/details/edit/inspect">
  <div class="form-group">
    <label class="label-control">Summary</label>
    <input ng-model="promethee.inspected.attributes.summary" class="form-control" type="text"/>
  </div>
</script>
