<script type="text/ng-template" id="promethee/inspector/component/cover">
  <div class="form-group">
    <label class="label-control">Image Url</label>
    <input ng-model="inspected.component.attributes.src" class="form-control" type="text"/>
  </div>
</script>
