<script type="text/ng-template" id="promethee/components/slider/edit/move">
  <%= render 'promethee/edit/move.header', type: 'slider' %>
      <div class="header">Slider</div>
      <div class="row" ng-controller="SliderMoveController">
        <div class="col-md-2" ng-repeat-start="component in components">
          <ng-include src="'promethee/move/component'"></ng-include>
        </div>
        <div class="clearfix" ng-if="$index%6 === 5" ng-repeat-end></div>
        <pre class="hidden">{{component.attributes.search = concatenateChildrenSearch(component)}}</pre>
      </div>
    </div>
  </div>
</script>

<script>
  promethee.controller('SliderMoveController', ['$scope', function($scope) {
    $scope.parent_id = $scope.component.id;
    $scope.parent_type = $scope.component.type;
    $scope.components = $scope.component.children;

    $scope.$watch('component.children.length', function() {
      var keys = $scope.component.children.map(function(component) {
        return 'content-' + component.id;
      });

      for(var key in $scope.component.attributes.contents) {
        if(!keys.includes(key)) delete $scope.component.attributes.contents[key];
      }
    });
  }]);
</script>
