<script type="text/ng-template" id="promethee/components/slider/edit/write">
  <div  ng-controller="SliderController"
        ng-click="inspect(component, $event)"
        class=" row
                promethee-edit__component
                promethee-edit__component--slider">
    <div class="promethee-edit__component-selected" ng-class="{'promethee-edit__component-selected--visible': promethee.inspected === component}">
      <div class="promethee-edit__toolbar promethee-edit__toolbar--transparent">
        <ng-include src="'promethee/write/toolbar'"></ng-include>
      </div>

      <div class="row">
        <div ng-init="components = component.children">
          <div ng-repeat="component in components track by $index">
            <div class="col-md-{{itemColSize}}">
              <ng-include src="'promethee/write/component'"></ng-include>
            </div>
            <div ng-if="($index + 1)%itemsPerLine === 0" class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>

      <span type="button"
            class=" btn
                    btn-default
                    btn-block"
            ng-click="addComponentTo(component.children);">
        Add item
      </span>
    </div>
  </div>
</script>

<script>
  promethee.controller('SliderController', ['$scope', '$element', function($scope, $element) {
    $scope.itemsPerLine = 4;

    Object.defineProperties($scope, {
      itemColSize: {
        get: function() {
          return Math.floor(12/$scope.itemsPerLine);
        }
      }
    });
  }]);
</script>
