<script type="text/ng-template" id="promethee/components/slider/edit/move">
  <%= render 'promethee/edit/move.header', type: 'slider' %>
    <div ng-if="component.children.length > 0" ng-init="component = component.children[0]">
      <ng-include src="'promethee/move/component'"></ng-include>
    </div>
  </div>
</script>
