<script type="text/ng-template" id="promethee/components/slider/edit/inspect">
  <div class="form-group">
    <div class="btn btn-default" ng-click="addComponentByType('slider_item', promethee.inspected.children)">Add item</div>
    <div ng-show="promethee.inspected.children.length > 1">
      <br><br>
      <label class="label-control">Drag the items below to reorder them:</label>
      <ul ui-sortable ng-model="promethee.inspected.children" class="list-unstyled">
        <li ng-repeat="item in promethee.inspected.children">
          <%= fa_icon :bars %> Item {{$index + 1}}
        </li>
      </ul>
    </div>
  </div>
</script>