<script type="text/ng-template" id="promethee/components/slider/edit/inspect">
  <div class="form-group">
    <div class="btn btn-default btn-light" ng-click="addComponentByType('slider_item', promethee.inspected.children)">Add item</div>
    <div ng-show="promethee.inspected.children.length">
      <br><br>
      <label class="label-control">Drag the items below to reorder them:</label>
      <ul ui-sortable ng-model="promethee.inspected.children" class="list-unstyled">
        <li ng-repeat="item in promethee.inspected.children">
          <div>
            <%= icon('fa', 'bars') %> Item {{$index + 1}}
            <span class="label label-info" ng-click="promethee.inspected = item">Edit</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</script>