<script type="text/ng-template" id="promethee/components">
  <div class="clearfix"></div>
  <div ng-controller="ComponentsController as componentsController" class="promethee-editor__components" ng-init="components = component ? component.children : promethee.data" dnd-list="components" dnd-allowed-types="allowedTypes()">
    <div ng-repeat="component in components track by $id(component)" ng-include="'promethee/component'"></div>
  </div>
  <div class="clearfix"></div>


  <div ng-if="!oneTypeOnly()" class="dropdown">
    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Add Component
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li ng-repeat="type in allowedTypes()" ng-click="add(type)">{{type | humanize}}</li>
    </ul>
  </div>

  <span ng-if="oneTypeOnly()" class="btn btn-default" ng-click="add(allowedTypes()[0])">Add {{allowedTypes()[0] | humanize}}</span>

</script>

<script>
  promethee.controller('ComponentsController', function($scope) {
    var self = this;

    var types = {
      row: ['column'],
      column: ['row', 'text', 'image', 'video'],
      text: [],
      image: [],
      video: []
    };

    $scope.adding = false;

    $scope.add = function(type) {
      $scope.adding = true;
      this.components.push({
        type: type,
        attributes: {},
        children: []
      });
    };

    $scope.added = function() {
      $scope.adding = false;
    };

    $scope.togglerAdder = function() {
      $scope.adding = !$scope.adding;
    };

    $scope.allowedTypes = function() {
      return this.component ? types[this.component.type] : Object.keys(types).filter(function(type) { return type !== 'column' });
    };

    $scope.hasChildren = function() {
      return this.allowedTypes().length > 0;
    };

    $scope.oneTypeOnly = function() {
      return this.allowedTypes().length === 1;
    };
  });
</script>
