<%= promethee_templates %>

<div
  id="<%= promethee.id %>"
  ng-app="<%= promethee.id %>"
  ng-controller="PrometheeController as prometheeController"
  class="promethee"
>
  <%= promethee.input 'ng-model' => :data %>
</div>
