<%
promethee_data = Promethee::Data.new master_data, localization_data: localization_data
%>

<script>
  var prometheeLocalizer = angular
    .module('PrometheeLocalizer', ['summernote'])
    .value('data', <%= promethee_data.localization_data_to_json.html_safe %>)
    .filter('htmlSafe', ['$sce', function($sce) {
      return function(val) {
        return $sce.trustAsHtml(val);
      };
    }]);

  prometheeLocalizer.controller('PrometheeLocalizerController', ['$scope', 'data', function($scope, data) {

    $scope.data = data;
    $scope.component = {children: data.components};

    $scope.options = {
      toolbar: [
        ['headline', ['style']],
        ['style', ['bold', 'italic']],
        ['alignment', ['ul', 'ol', 'paragraph']],
        ['code', ['codeview']]
      ]
    };

  }]);

  angular.element(function() {
    angular.bootstrap(document.getElementById('prometheeLocalizer'), ['PrometheeLocalizer']);
  });
</script>

<div id="prometheeLocalizer"
     class="promethee-localizer"
     ng-app="PrometheeLocalizer"
     ng-controller="PrometheeLocalizerController as prometheeLocalizerController">
  <input type="hidden" name="localization[data]" id="page_data" value="{{data}}" />

  <%= render 'promethee/localize/component' %>
  <% Dir[__dir__ + '/localize/component/*.html.erb'].map do |file| %>
    <%= render "promethee/localize/component/#{File.basename(file, '.html.erb').sub(/\A_/, '')}" %>
  <% end %>

  <div ng-repeat="component in component.children">
    <ng-include src="'promethee/localize/component'"></ng-include>
  </div>
</div>
