<%
promethee_data = Promethee::Data.new master_data, localization_data: localization_data
%>

<%= promethee_data.localization_data_to_json %>

<script>
  var prometheeLocalizer = angular
    .module('PrometheeLocalizer', ['summernote'])
    .value('data', <%= promethee_data.localization_data_to_json.html_safe %>);

  prometheeLocalizer.controller('PrometheeLocalizerController', ['$scope', 'data', function($scope, data) {

    $scope.data = data;

    $scope.options = {
      toolbar: [
        ['headline', ['style']],
        ['style', ['bold', 'italic']],
        ['alignment', ['ul', 'ol', 'paragraph']],
        ['code', ['codeview']]
      ]
    };

  }]);

  angular.element(function() {
    angular.bootstrap(document.getElementById('prometheeLocalizer'), ['PrometheeLocalizer']);
  });
</script>

<div id="prometheeLocalizer"
     class="promethee-localizer"
     ng-app="PrometheeLocalizer"
     ng-controller="PrometheeLocalizerController as prometheeLocalizerController">
  <input type="hidden" name="page[data]" id="page_data" value="{{data}}" />
  <%= render 'promethee/partials/include_components' %>
  <div ng-repeat="component in data.components">
    <ng-include src="'promethee/components/' + component.type + '/localize'"></ng-include>
  </div>
</div>
