<%
promethee_data = Promethee::Data.new master_data, localization_data: localization_data
%>

<script>
  var prometheeLocalizer = angular
    .module('PrometheeLocalizer', ['summernote'])
    .value('data', <%= promethee_data.localization_data_to_json.html_safe %>)
    .filter('htmlSafe', ['$sce', function($sce) {
      return function(val) {
        return $sce.trustAsHtml(val);
      };
    }]);

  prometheeLocalizer.controller('PrometheeLocalizerController', ['$scope', 'data', function($scope, data) {

    $scope.data = data;
    $scope.component = {children: data.components};

    $scope.options = {
      toolbar: [
        ['headline', ['style']],
        ['style', ['bold', 'italic']],
        ['alignment', ['ul', 'ol', 'paragraph']],
        ['code', ['codeview']]
      ]
    };

  }]);
</script>


<div id="prometheeLocalizer"
     class="promethee-localizer"
     ng-app="PrometheeLocalizer"
     ng-controller="PrometheeLocalizerController as prometheeLocalizerController">

  <script type="text/ng-template" id="promethee/localize/component">
    <ng-include src="'promethee/components/' + component.type + '/localize'"></ng-include>
  </script>

  <input type="hidden" name="<%= object_name %>[<%= method_name %>]" id="page_data" value="{{data}}" />

  <% Dir["#{__dir__}/components/*/_localize.html.erb"].map do |file| %>
    <% partial = file.split('app/views/').last.gsub('.html.erb', '').gsub('/_', '/') %>
    <%= render partial %>
  <% end %>

  <% #TODO override templates from current project %>

  <div class="row">
    <div class="col-md-6"><b>Master</b></div>
    <div class="col-md-6"><b>Translation</b></div>
  </div>
  <div ng-repeat="component in component.children">
    <ng-include src="'promethee/localize/component'"></ng-include>
  </div>
</div>
