<%
master_data = Promethee::Data.prepare data
l = Promethee::Data.prepare l
Promethee::Localization.localize! master_data, l unless l.nil?
%>
<div class="promethee">
  <%= render 'promethee/components/page', page: data %>
</div>
