<script type="text/ng-template" id="promethee/components/children">
  <div ng-repeat="component in component.children">
    <ng-include src="'promethee/components/' + component.type"></ng-include>
  </div>
</script>
