<script type="text/ng-template" id="promethee/column">
  <div ng-controller="Column as column">
    <div class="col col-md-{{component.attributes.size}} col-md-offset-{{component.attributes.offset}}">
      <div dnd-draggable="component" dnd-moved="move()" dnd-type="component.type" class="promethee-editor__component promethee-editor__component--column">

        <div class="promethee-editor__toolbar">
          Column
        </div>

        <ng-include src="'promethee/components'"></ng-include>
      </div>
    </div>
  </div>
</script>

<script>
  Promethee.Controller.for('Column', function($scope) {
    $scope.move = function() {
      this.components.splice(this.components.indexOf(this.component), 1);
    };
  });
</script>
