<script type="text/ng-template" id="promethee/components/column">
  <div class="col col-md-{{component.attributes.size}} col-md-offset-{{component.attributes.offset}}">
    <div class="promethee-editor__component promethee-editor__component--column">
      <div class="promethee-editor__toolbar">
        Column
        <%= render 'promethee/partials/toolbar_buttons' %>
      </div>
      <div ng-show="editing" class="promethee-editor__wrapper">
        <div class="form-group">
          <label class="label-control">Size</label>
          <input ng-model="component.attributes.size" class="form-control" type="number"/>
        </div>
        <div class="form-group">
          <label class="label-control">Offset</label>
          <input ng-model="component.attributes.offset" class="form-control" type="number"/>
        </div>
      </div>

      <ng-include src="'promethee/components/index'"></ng-include>

      <span type="button" class="btn btn-default btn-block" ng-click="addComponentTo(component.children)" style="margin: 0 6px 6px 6px;width: auto">Add component</span>
    </div>
  </div>
</script>

<script type="text/ng-template" id="promethee/components/column/move">
  <h4>Column</h4>
  <ng-include src="'promethee/partials/mover'"></ng-include>
</script>

<script>

</script>
