<script type="text/ng-template" id="promethee/components/image">
  <div ng-controller="ImageController" style="position: relative">
    <div  dnd-draggable="component"
          dnd-moved="remove()"
          dnd-type="component.type"
          class="promethee-editor__component promethee-editor__component--image promethee-editor__component--final">
      <div class="promethee-editor__toolbar">
        Image
        <%= render 'promethee/partials/toolbar_buttons' %>
      </div>
      <div ng-show="editing" class="promethee-editor__wrapper">
        <div class="form-group">
          <label class="label-control">Url</label>
          <input ng-model="component.attributes.src" class="form-control" type="text"/>
        </div>
        <div class="form-group">
          <label class="label-control">Alt</label>
          <input ng-model="component.attributes.alt" class="form-control" type="text"/>
        </div>
      </div>
      <div ng-show="component.attributes.src">
        <img ng-click="edit()" ng-src="{{component.attributes.src}}" class="img-responsive">
      </div>
      <div ng-hide="component.attributes.src">
        <p ng-hide="editing" ng-click="edit()" class="text-center">Click to set the image</p>
      </div>
    </div>
  </div>
</script>

<script>
  angular.injector(['ng', '<%= promethee_id %>']).get('definitions').push({
    name: 'Image',
    thumb: 'http://via.placeholder.com/300x200',
    data: {
      type: 'image',
      attributes: {
        src: 'https://source.unsplash.com/random/1920x1080'
      }
    }
  });

  promethee.controller('ImageController', ['$scope', function($scope) {

    $scope.editing = false;

    $scope.edit = function() {
      this.editing = true;
    };

    $scope.complete = function() {
      this.editing = false;
    };

    $scope.remove = function() {
      this.components.splice(this.components.indexOf(this.component), 1);
    };

  }]);
</script>
