<script type="text/ng-template" id="promethee/image">
  <div ng-controller="Image as image" style="position: relative">
    <div dnd-draggable="component" dnd-moved="move()" dnd-type="component.type" class="promethee-editor__component promethee-editor__component--image promethee-editor__component--final">
      <div class="promethee-editor__toolbar">
        Image
        <span ng-if="image.editing" ng-click="complete()" class="promethee-editor__button pull-right"><%= fa_icon :close %></span>
      </div>

      <div ng-if="image.editing" class="panel panel-default" style="width: 90%;max-width: 300px;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">
        <div class="panel-body">
          <div class="form-group">
            <label class="label-control">Url</label>
            <input ng-model="component.attributes.src" class="form-control" type="text"/>
          </div>

          <div class="form-group">
            <label class="label-control">Alt</label>
            <input ng-model="component.attributes.alt" class="form-control" type="text"/>
          </div>
        </div>
      </div>

      <img ng-click="edit()" ng-src="{{component.attributes.src}}" class="img-responsive">
    </div>
  </div>
</script>

<script>
  Promethee.Controller.for('Image', function($scope) {
    var self = this;
    this.editing = false;

    $scope.edit = function() {
      self.editing = true;
    };

    $scope.complete = function() {
      self.editing = false;
    };

    $scope.move = function() {
      this.components.splice(this.components.indexOf(this.component), 1);
    };
  });
</script>
