<script type="text/ng-template" id="promethee/components/page">
  <div  ng-init="component = data"
        class="promethee-editor__component promethee-editor__component--page">
    <ng-include src="'promethee/components/children'"></ng-include>
  </div>
</script>

<script type="text/ng-template" id="promethee/components/page/move">
  <ng-include src="'promethee/partials/mover'"></ng-include>
</script>