<script type="text/ng-template" id="promethee/row">
  <div ng-controller="RowController">
    <div class="row">
      <div dnd-draggable="component" dnd-moved="remove()" dnd-type="component.type" class="promethee-editor__component promethee-editor__component--row">

        <div class="promethee-editor__toolbar">
          Row
          <div class="pull-right">
            <button type="button" class="btn btn-default btn-sm" ng-click="addColumn()">
              Add column
            </button>
            <span ng-click="remove()" class="promethee-editor__button pull-right"><%= fa_icon :close %></span>
          </div>
        </div>
        <ng-include src="'promethee/components'"></ng-include>
      </div>
    </div>
  </div>
</script>

<script>

  angular.injector(['ng', '<%= promethee_id %>']).get('definitions').push({
    name: 'Row',
    thumb: 'http://via.placeholder.com/300x200',
    data: {
      type: 'row',
      attributes: {},
      children: []
    }
  });

  promethee.controller('RowController', ['$scope', function($scope) {

    $scope.addColumn = function() {
      this.component.children.push({
        type: 'column',
        attributes: {
          size: 3,
          offset: 0
        },
        children: []
      })
    }

    $scope.remove = function() {
      this.components.splice(this.components.indexOf(this.component), 1);
    };

  }]);

</script>
