<script type="text/ng-template" id="promethee/components/row">
  <div ng-controller="RowController">
    <div class="row">
      <div class="promethee-editor__component promethee-editor__component--row">
        <div class="promethee-editor__toolbar">
          Row
          <%= render 'promethee/partials/toolbar_buttons' %>
        </div>
        <div ng-show="editing" class="promethee-editor__wrapper">
          Nothing to edit (yet...)
        </div>

        <ng-include src="'promethee/components/index'"></ng-include>

        <div class="clearfix"></div>
        <span class="btn btn-default btn-block" ng-click="addColumn()" style="margin: 0 6px 6px 6px;width: auto">Add column</span>
      </div>
    </div>
  </div>
</script>

<script>
  angular.injector(['ng', 'Promethee']).get('definitions').push({
    name: 'Row',
    thumb: 'http://via.placeholder.com/300x200',
    data: {
      type: 'row',
      attributes: {},
      children: []
    }
  });

  promethee.controller('RowController', ['$scope', function($scope) {

    $scope.allowedTypes = ['column'];

    $scope.addColumn = function() {
      this.component.children.push({
        type: 'column',
        attributes: {
          size: 3,
          offset: 0
        },
        children: []
      })
    }

  }]);
</script>
