<script type="text/ng-template" id="promethee/components/collection/edit/move">
  <%= render 'promethee/edit/move_header', type: 'collection' %>
      <div class="header">Collection</div>
      <div class="row" ng-controller="CollectionMoveController">
        <div class="col-md-{{size}}" ng-repeat-start="component in components">
          <ng-include src="'promethee/move/component'"></ng-include>
        </div>
        <div class="clearfix" ng-if="$index%itemsPerLine === itemsPerLine - 1" ng-repeat-end></div>
      </div>
    </div>
  </div>
</script>

<script>
  promethee.controller('CollectionMoveController', ['$scope', function($scope) {
    $scope.parent_id = $scope.component.id;
    $scope.parent_type = $scope.component.type;
    $scope.components = $scope.component.children;

    Object.defineProperties($scope, {
      itemsPerLine: {
        get: function() {
          return $scope.component.attributes.items_per_line.value;
        }
      },
      size: {
        get: function() {
          return Math.floor(12/$scope.itemsPerLine);
        }
      }
    });
  }]);
</script>
