<script type="text/ng-template" id="promethee/components/collection/edit/inspect">
  <b>Desktop</b>
  <div class="form-group">
    <label class="label-control">Items per line: {{promethee.inspected.attributes.items_per_line}}</label>
    <input ng-model="promethee.inspected.attributes.items_per_line" type="range" min="2" max="12">
  </div>

  <div ui-sortable ng-model="promethee.inspected.children">
    <div
      class="panel panel-default"
      ng-repeat="component in promethee.inspected.children"
    >
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-9">
            <span class="label label-default">#{{$index + 1}}</span>
            <span class="label label-info">{{component.type}}</span>
          </div>
          <div class="col-xs-3">
            <ng-include src="'promethee/move/component'"></ng-include>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pull-right btn-toolbar" ng-controller="CollectionInspectorController">
    <span ng-repeat="definition in itemDefinitions" class="btn btn-default" ng-click="addItem(definition)">Add {{definition.name}}</span>
  </div>
</script>

<script>
  promethee.controller('CollectionInspectorController', ['$scope', 'identifier', function($scope, identifier) {
    var availableComponents = ['image', 'video'];

    $scope.itemDefinitions = $scope.promethee.definitions.filter(function(definition) {
      return availableComponents.includes(definition.data.type);
    });

    var clone = function(object) {
      return JSON.parse(JSON.stringify(object));
    }

    $scope.addItem = function(definition) {
      var item = JSON.parse(JSON.stringify(definition.data));
      item.id = identifier.generate();

      $scope.promethee.inspected.children.push(item);
    }
  }])
</script>
