<%
  init = <<~JAVASCRIPT
    promethee.definitions.push({
      name: 'Collection',
      icon: #{ promethee_component_render_icon 'collection' },
      position: 20,
      library: true,
      data: {
        type: 'collection',
        attributes: {
          items_per_line: 6
        },
        children: []
      }
    })
  JAVASCRIPT
%>
<div ng-init="<%= init %>"></div>
