<%
  items_per_line = component[:attributes][:items_per_line]
  size = (12.0/items_per_line.to_f).floor
%>

<div class="row <%= promethee_class_for component %>">
  <% component[:children].each.with_index do |child, n| %>
    <div class="col-md-<%= size %>">
        <%= render 'promethee/show/component', component: child %>
    </div>
    <% if index%items_per_line === items_per_line - 1 %>
      <div class="clearfix"></div>
    <% end %>
  <% end %>
</div>
