$promethee-grey: #bbb
$promethee-transparent-grey: transparentize($promethee-grey, .8)
$promethee-light-grey: #eee
$promethee-color: #ff9900 !default

@import 'angular-bootstrap-colorpicker/css/colorpicker.css'
@import 'promethee-edit/layout'
@import 'promethee-edit/nav'
@import 'promethee-edit/loader'
@import 'promethee-edit/move'
@import 'promethee-edit/preview'
