$promethee-grey: #bbb
$promethee-transparent-grey: transparentize($promethee-grey, .8)
$promethee-light-grey: #eee
$promethee-color: #ff9900 !default

@import 'promethee-edit/write'
@import 'promethee-edit/move'
@import 'promethee-edit/preview'

.promethee-open
  $real-width: 300px
  $real-height: 500px
  $rendered-width: 1280px
  $rendered-height: $real-height/$real-width*$rendered-width
  $size-ratio: $real-width/$rendered-width

  width: $real-width
  height: $real-height
  overflow: hidden
  position: relative
  display: inline-block

  &, &::after, &__button, &__thumb-preview
    cursor: pointer

  &::after
    content: ''
    width: 100%
    height: 100%
    top: 0
    left: 0
    border: 2px solid #253742
    box-sizing: border-box
    position: absolute
    display: block

  &__button
    background: #253742
    padding: 10px
    margin-bottom: 5px
    display: block
    text-align: center
    color: #fff

  &__thumb-preview
    width: $rendered-width
    height: $rendered-height
    border: none
    display: block
    transform: scale(#{$size-ratio})
    transform-origin: 0 0

.promethee-edit
  background: white
  position: fixed
  left: 0
  right: 0
  bottom: 0
  top: 0
  padding-top: 50px
  z-index: 10000
  overflow: auto
  .promethee-edit__write
    padding-right: 300px
    padding-top: 15px
  .promethee-edit__inspect
    top: 65px

  &--closed
    display: none

  &__navbar
    background: #232323
    width: 100%
    margin-bottom: 0
    top: 0
    left: 0
    border-radius: 0
    border: none
    z-index: 10000
    position: fixed
    ul.nav li a
      color: white
      &:hover
        color: #eee
    .dropdown-menu
      background: #232323
      min-width: 20px

  &__icon
    svg path
      fill: white

  &__button
    background: white
    padding: 10px 15px
    box-sizing: border-box
    display: inline-block
    font-size: 12px
    color: #253742
    text-align: center
    line-height: normal
    border-radius: 20px
    cursor: pointer

    &--squared
      min-width: 20px
      height: 20px
      padding: 0 0 0 1px
      line-height: 20px

    &--bordered
      border: 1px solid #253742

    &--bordered#{&}--squared
      min-width: 22px
      height: 22px

  &__wrapper
    padding: 10px

  .video-neutralizing-overlay
    background: transparent
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
