$promethee-grey: #bbb
$promethee-transparent-grey: transparentize($promethee-grey, .8)
$promethee-light-grey: #eee
$promethee-color: #ff9900 !default

@import 'promethee-editor/mover'
@import 'promethee-editor/preview'
@import 'promethee-editor/component'

.promethee-editor
  background: white
  position: relative
  &--fullscreen
    position: fixed
    left: 0
    right: 0
    bottom: 0
    top: 0
    z-index: 10000
    overflow: auto
  &--preview
    overflow: hidden

  &__navbar
    border-radius: 0
    border: none
    border-bottom: 2px solid $promethee-color
    background: transparent

  &__icon
    svg path
      fill: $promethee-color

  &__button
    color: $promethee-color
    margin-left: 10px

  &__toolbar
    background: #eee
    padding: 10px
    font-size: 11px
    text-transform: uppercase
    font-weight: bold
    color: $promethee-color
    &, *
      user-select: none

  &__wrapper
    padding: 10px

  &__component-selected
    border: 2px solid transparent

    &--visible
      border-color: $promethee-color

  &__inspector
    background: #fff
    border: 1px solid rgba(0, 0, 0, .1)
    width: 300px
    height: calc(100vh - 30px)
    top: 15px
    left: 100%
    margin-left: -15px
    transform: translateX(-100%)
    z-index: 1000
    display: none
    position: fixed

    &--open
      display: block

  &__inspector-header
    padding: 15px
    border-bottom: 1px solid rgba(0, 0, 0, .1)

    &, h5
      font-size: 11px

  h5
    margin: 0
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
    font-weight: bold
    text-transform: uppercase

.promethee-editor__inspector-content
  padding: 15px
