<script type="text/ng-template" id="promethee/components/column/edit/move">
  <div class="col col-md-{{component.attributes.size}} col-md-offset-{{component.attributes.offset}}">
    <div class="header">Column</div>
    <ng-include src="'promethee/move/components'"></ng-include>
    <div 
      class=" promethee-edit__move__droppable
              promethee-edit__move__droppable--row
              promethee-edit__move__droppable--row--inside-column"
      droppable
      data-index="{{$index+1}}"
      data-type="{{type}}"
      >
    </div>
  </div>
</script>
