<script type="text/ng-template" id="promethee/components/column/edit/write">
  <div  ng-click="inspect(component, $event)"
        class=" col
                col-md-{{component.attributes.size}}
                col-md-offset-{{component.attributes.offset}}
                promethee-edit__component
                promethee-edit__component--column">
    <div class="promethee-edit__component-selected" ng-class="{'promethee-edit__component-selected--visible': promethee.inspected === component}">
      <div class="promethee-edit__toolbar">
        Column
        <ng-include src="'promethee/write/toolbar'"></ng-include>
      </div>
      <ng-include src="'promethee/write/components'"></ng-include>
      <ng-include src="'promethee/write/add_button'"></ng-include>
    </div>
  </div>
</script>
