<%
  init = <<~JAVASCRIPT
    promethee.definitions.push({
      name: 'Column',
      icon: #{ promethee_component_render_icon 'column' },
      position: 0,
      library: false,
      data: {
        type: 'column',
        attributes: {
          size: {
            searchable: false,
            translatable: false,
            type: 'integer',
            value: 4
          },
          offset: {
            searchable: false,
            translatable: false,
            type: 'integer',
            value: 0
          },
          mobile: {
            searchable: false,
            translatable: false,
            type: 'hash',
            value: {
              enabled: {
                searchable: false,
                translatable: false,
                type: 'boolean',
                value: false
              },
              size: {
                searchable: false,
                translatable: false,
                type: 'integer',
                value: 12
              },
              offset: {
                searchable: false,
                translatable: false,
                type: 'integer',
                value: 0
              }
            }
          },
          tablet: {
            searchable: false,
            translatable: false,
            type: 'hash',
            value: {
              enabled: {
                searchable: false,
                translatable: false,
                type: 'boolean',
                value: false
              },
              size: {
                searchable: false,
                translatable: false,
                type: 'integer',
                value: 12
              },
              offset: {
                searchable: false,
                translatable: false,
                type: 'integer',
                value: 0
              }
            }
          }
        },
        children: []
      }
    })
  JAVASCRIPT
%>
<div ng-init="<%= init %>"></div>
