<script type="text/ng-template" id="promethee/components/column/edit/inspect">
  <b>Desktop</b>
  <div class="form-group">
    <label class="label-control">Size: {{promethee.inspected.attributes.size}}</label>
    <input ng-model="promethee.inspected.attributes.size" type="range" min="1" max="12">
  </div>
  <div class="form-group">
    <label class="label-control">Offset: {{promethee.inspected.attributes.offset}}</label>
    <input ng-model="promethee.inspected.attributes.offset" type="range" min="0" max="{{12-promethee.inspected.attributes.size}}">
  </div>

  <%= render 'promethee/edit/inspect.advanced' %>
    <div class="form-group">
      <input id="column_edit_inspect_mobile_enabled" ng-model="promethee.inspected.attributes.mobile.enabled" type="checkbox" />
      <label class="label-control" for="column_edit_inspect_mobile_enabled"> <b>Mobile</b></label>
    </div>
    <div ng-show="promethee.inspected.attributes.mobile.enabled">
      <div class="form-group">
        <label class="label-control">Size: {{promethee.inspected.attributes.mobile.size}}</label>
        <input ng-model="promethee.inspected.attributes.mobile.size" type="range" min="1" max="12">
      </div>
      <div class="form-group">
        <label class="label-control">Offset: {{promethee.inspected.attributes.mobile.offset}}</label>
        <input ng-model="promethee.inspected.attributes.mobile.offset" type="range" min="0" max="{{12-promethee.inspected.attributes.size}}">
      </div>
    </div>
  </div>
</script>
