<script type="text/ng-template" id="promethee/components/column/edit/inspect">

  <datalist id="tickmarks">
    <% 12.times do |index| %>
      <option value="<%= index+1 %>" label="<%= index+1 %>">
    <% end %>
  </datalist>

  <b>Desktop</b>
  <div class="form-group">
    <label  class="label-control">Size: {{promethee.inspected.attributes.size}}</label><br/>
    <input  ng-model="promethee.inspected.attributes.size"
            type="range"
            class="btn-block"
            list="tickmarks"
            min="1"
            max="12">
  </div>
  <div class="form-group">
    <label  class="label-control">Offset: {{promethee.inspected.attributes.offset}}</label><br/>
    <input  ng-model="promethee.inspected.attributes.offset"
            type="range"
            class="btn-block"
            list="tickmarks"
            min="0"
            max="{{12-promethee.inspected.attributes.size}}">
  </div>

  <%= render 'promethee/edit/inspect.advanced' %>
    <div class="form-group">
      <input  id="column_edit_inspect_tablet_enabled" 
              ng-model="promethee.inspected.attributes.tablet.enabled" 
              type="checkbox" />
      <label  class="label-control"
              for="column_edit_inspect_tablet_enabled"> <b>Tablette</b></label>
    </div>
    <div ng-show="promethee.inspected.attributes.tablet.enabled">
      <div class="form-group">
        <label  class="label-control">Size: {{promethee.inspected.attributes.tablet.size}}</label><br/>
        <input  ng-model="promethee.inspected.attributes.tablet.size"
                type="range"
                class="btn-block"
                list="tickmarks"
                min="1"
                max="12">
      </div>
      <div class="form-group">
        <label  class="label-control">Offset: {{promethee.inspected.attributes.tablet.offset}}</label><br/>
        <input  ng-model="promethee.inspected.attributes.tablet.offset"
                type="range"
                class="btn-block"
                list="tickmarks"
                min="0"
                max="{{12-promethee.inspected.attributes.tablet.size}}">
      </div>
    </div>

    <div class="form-group">
      <input  id="column_edit_inspect_mobile_enabled" 
              ng-model="promethee.inspected.attributes.mobile.enabled" 
              type="checkbox" />
      <label  class="label-control"
              for="column_edit_inspect_mobile_enabled"> <b>Mobile</b></label>
    </div>
    <div ng-show="promethee.inspected.attributes.mobile.enabled">
      <div class="form-group">
        <label  class="label-control">Size: {{promethee.inspected.attributes.mobile.size}}</label><br/>
        <input  ng-model="promethee.inspected.attributes.mobile.size"
                type="range"
                class="btn-block"
                list="tickmarks"
                min="1"
                max="12">
      </div>
      <div class="form-group">
        <label  class="label-control">Offset: {{promethee.inspected.attributes.mobile.offset}}</label><br/>
        <input  ng-model="promethee.inspected.attributes.mobile.offset"
                type="range"
                class="btn-block"
                list="tickmarks"
                min="0"
                max="{{12-promethee.inspected.attributes.mobile.size}}">
      </div>
    </div>
  </div>
</script>
