<%
  init = <<~JAVASCRIPT
    promethee.definitions.push({
      name: 'Column',
      icon: #{ promethee_component_render_icon 'column' },
      position: 0,
      library: false,
      data: {
        type: 'column',
        attributes: {
          size: 4,
          offset: 0
        },
        children: []
      }
    })
  JAVASCRIPT
%>
<div ng-init="<%= init %>"></div>
