<%
size = component[:attributes][:size]
offset = component[:attributes][:offset]
classes = "col-md-#{size}"
classes += " offset-md-#{offset} col-md-offset-#{offset}"
if component[:attributes][:mobile] && component[:attributes][:mobile][:enabled]
  mobile_size = component[:attributes][:mobile][:size]
  mobile_offset = component[:attributes][:mobile][:offset]
  classes += " col-#{mobile_size} col-xs-#{mobile_size}"
  classes += " offset-#{mobile_offset} col-xs-offset-#{mobile_offset}"
end
%>
<div class="<%= classes %> <%= promethee_class_for component %>">
  <%= render 'promethee/show/components', components: component[:children] %>
</div>
