<%
size = component[:attributes][:size]
offset = component[:attributes][:offset]
%>
<div class="col-md-<%= size %><%= " offset-md-#{offset} col-md-offset-#{offset}" if offset > 0 %> <%= promethee_class_for component %>">
  <%= render 'promethee/show/components', components: component[:children] %>
</div>
