<div class="promethee-editor__inspector" ng-show="promethee.inspected">
  <div class="promethee-editor__inspector-header">
    <div class="pull-right">
      <span ng-click="promethee.inspected = null"><%= fa_icon :times %></span>
    </div>
    <h5>{{promethee.inspected.type}}</h5>
  </div>
  <div class="promethee-editor__inspector-content">
    <ng-include ng-if="promethee.inspected" src="'promethee/inspector/component/' + promethee.inspected.type"></ng-include>
  </div>
</div>
