<script type="text/ng-template" id="promethee/components/video/edit/inspect">
  <div class="form-group">
    <label  class="label-control">Url</label>
    <input  ng-model="promethee.inspected.attributes.url" 
            class="form-control" 
            type="text" />
  </div>
</script>
