<script type="text/ng-template" id="promethee/components/video/edit/inspect">
  <div class="form-group">
    <label class="label-control">Url</label>
    <input ng-model="promethee.inspected.attributes.url.value" class="form-control" type="text" />
  </div>

  <div class="form-group">
    <input ng-model="promethee.inspected.attributes.autoplay.value" type="checkbox" />
    <label class="label-control"> Autoplay</label>
  </div>
</script>
