<%
  init = <<~JAVASCRIPT
    promethee.definitions.push({
      name: 'Video',
      icon: #{ promethee_component_render_icon 'video' },
      position: 3,
      library: true,
      data: {
        type: 'video',
        attributes: {
          url: 'https://vimeo.com/115082758'
        }
      }
    })
  JAVASCRIPT
%>
<div ng-init="<%= init %>"></div>
