<script type="text/ng-template" id="promethee/components/video/edit/move">
  <div ng-controller="VideoController">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe ng-if="embed" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="allowfullscreen" ng-src="{{embed | urlSafe}}"></iframe>
      <div class="video-neutralizing-overlay"></div>
    </div>
  </div>
</script>
