<%
  init = <<~JAVASCRIPT
    promethee.definitions.push({
      name: 'Video',
      icon: #{ promethee_component_render_icon 'video' },
      position: 3,
      library: true,
      data: {
        type: 'video',
        attributes: {
          url: {
            searchable: false,
            translatable: true,
            type: 'string',
            value: 'https://vimeo.com/115082758'
          },
          autoplay: {
            searchable: false,
            translatable: false,
            type: 'boolean',
            value: false
          }
        }
      }
    })
  JAVASCRIPT
%>
<div ng-init="<%= init %>"></div>
