<%
data = [
  {
    type: 'row',
    children: [
      {
        type: 'column',
        attributes: {
          size: 8,
          offset: 0
        },
        children: [
          {
            type: 'text',
            attributes: {
              body: '<h4>Lorem ipsum dolor sit amet,</h4><p>consectetur adipisicing elit. Voluptatum minus voluptas repellendus voluptatibus repudiandae, similique facere corporis, ipsam ducimus, velit ullam architecto vero dicta molestiae ratione dolor obcaecati quam. Eum.</p><p>Beatae enim iure eum quia. At magni doloribus commodi laborum iure quidem atque sint a! Rem recusandae, blanditiis quibusdam voluptates, molestiae ipsam?</p><br>'
            }
          },
          {
            type: 'text',
            attributes: {
              body: '<h4>Lorem ipsum dolor sit amet,</h4><p>consectetur adipisicing elit. Voluptatum minus voluptas repellendus voluptatibus repudiandae, similique facere corporis, ipsam ducimus, velit ullam architecto vero dicta molestiae ratione dolor obcaecati quam. Eum.</p><p>Beatae enim iure eum quia. At magni doloribus commodi laborum iure quidem atque sint a! Rem recusandae, blanditiis quibusdam voluptates, molestiae ipsam?</p><br>'
            }
          }
        ]
      },
      {
        type: 'column',
        attributes: {
          size: 4,
          offset: 0
        },
        children: [
          {
            type: 'image',
            attributes: {
              src: 'https://c1.staticflickr.com/5/4089/4975306844_f849232195_b.jpg',
              alt: 'Prométhée'
            }
          }
        ]
      }
    ]
  }
]
%>

<div class="container">
  <h1>Promethée</h1>
  <hr>

  <h2>Our data</h2>
  <pre style="max-height: 200px;overflow: scroll;font-size: 11px"><%= JSON.pretty_generate data %></pre>

  <h2>Rendering</h2>
  <%= promethee data %>
</div>
