<div class="promethee-editor__page" ng-hide="preview || move">
  <div ng-class="{ 'container': fullscreen }">
    <ng-include src="'promethee/components/page'"></ng-include>
  </div>
  <%= render 'promethee/partials/adder' %>
</div>
