<div class="pull-right">
  <span ng-click="editing = !editing" class="btn btn-default btn-xs"><%= fa_icon :edit %></span>
  <span ng-click="remove(component, components)" class="btn btn-default btn-xs"><%= fa_icon :close %></span>
</div>