<hr>
<div class="btn btn-default btn-xs" ng-click="advancedConfigurationOpen = !advancedConfigurationOpen">
  Advanced configuration
  <%= icon('fa', 'angle-down', 'ng-class': "{'fa-rotate-180': advancedConfigurationOpen}") %>
</div>
<br><br>
<div ng-show="advancedConfigurationOpen">
