<div class="promethee-edit__move" ng-show="promethee.mode == 'move'">
  <div class="promethee-edit__move__columns row">
    <% 12.times do %>
      <div class="col col-md-1"><div class="color"></div></div>
    <% end %>
  </div>
  <div class="promethee-edit__move__page">
    <ng-include src="'promethee/move/components'"></ng-include>
  </div>
</div>

<script type="text/ng-template" id="promethee/move/component">
  <div class="promethee-edit__move__component">
    <ng-include src="'promethee/components/' + component.type + '/edit/move'"></ng-include>
  </div>
</script>

<script type="text/ng-template" id="promethee/move/components">
  <div ng-init="type = component.type; components = component.children">
    <div 
      droppable
      class=" promethee-edit__move__droppable 
              promethee-edit__move__droppable--{{type}} 
              promethee-edit__move__droppable--{{type}}--first"
      data-index="0"
      >
    </div>
    <div
      draggable
      ng-repeat="component in components"
      class=" promethee-edit__move__draggable
              promethee-edit__move__draggable--{{type}}"
      data-index="{{$index}}"
      data-type="{{component.type}}"
      >
      <ng-include src="'promethee/move/component'"></ng-include>
      <div
        droppable
        class=" promethee-edit__move__droppable 
                promethee-edit__move__droppable--{{type}}"
        data-index="{{$index+1}}"
        data-type="{{type}}"
        >
      </div>
    </div>
  </div>
</script>
