<%# This causes an infinite loop when imported as angular, so i import it as erb %>
<div  class="promethee-edit__component__close"
      ng-click="remove(component, components)"
      ng-show="promethee.inspected === component"><%= fa_icon :times %></div>