<%# This causes an infinite loop when imported as angular, so i import it as erb %>
<div  class="promethee-edit__component__remove"
      ng-click="remove(component, components)"
      ng-show="promethee.inspected === component"><%= icon('fa', 'times') %></div>
