<%= render 'promethee/edit/move/component' %>
<%= render 'promethee/edit/move/components' %>
<% Dir[__dir__ + '/move/component/*.html.erb'].map do |file| %>
  <%= render "promethee/edit/move/component/#{File.basename(file, '.html.erb').sub(/\A_/, '')}" %>
<% end %>

<script type="text/ng-template" id="promethee/move">
  <div  ng-init="components = component.children; type = component.type"
        class="promethee__move--list">
    <div  class="promethee__move--droppable promethee__move--droppable--{{type}} promethee__move--droppable--{{type}}--first"
          droppable
          data-index="0"
          >
    </div>
    <div  ng-repeat="component in components"
          class="promethee__move--draggable promethee__move--draggable--{{type}}"
          draggable
          data-index="{{$index}}"
          data-type="{{component.type}}"
          >
        <ng-include src="'promethee/move/component/' + component.type"></ng-include>
        <div  class="promethee__move--droppable promethee__move--droppable--{{type}}"
              droppable
              data-index="{{$index+1}}"
              data-type="{{type}}"
              >
        </div>
    </div>
  </div>
</script>

<script type="text/javascript">
  promethee
    .directive('draggable', function() {
      return {
        restrict:'A',
        link: function(scope, element, attrs) {
          element.draggable({
            scroll: true,
            cursor: "pointer",
            cursorAt: { top: 0, left: 0 },
            refreshPositions: true,
            start: function() {
              var $elementDragged = $(element[0]);
              $elementDragged.addClass('promethee__move--dragged');
              var type = $elementDragged.data('type');
              $('.promethee__move').addClass('promethee__move--dragging promethee__move--dragging--' + type);

              // The droppable zone immediately before has no use, it would put the object at the same position
              var $droppableBefore = $elementDragged.prev('.promethee__move--draggable').find('.promethee__move--droppable').last();
              if ($droppableBefore.length === 0) {
                // For the first child, we look for the previous droppable zone
                $droppableBefore = $elementDragged.prev('.promethee__move--droppable');
              }
              $droppableBefore.addClass('promethee__move--droppable--hidden');
            },
            stop: function() {
              var $elementDragged = $(element[0]);
              $elementDragged.removeClass('promethee__move--dragged');
              var type = $elementDragged.data('type');
              $('.promethee__move').removeClass('promethee__move--dragging promethee__move--dragging--' + type);

              $('.promethee__move--droppable').removeClass('promethee__move--droppable--hidden');
            },
            helper: function( event ) {
              return $( '<div></div>' );
            }
          });
        }
      }
    })
    .directive('droppable', function($compile) {
      return {
        restrict: 'A',
        link: function(scope, element, attrs) {
          element.droppable({
            drop: function(event, ui) {
              var draggedFromList = angular.element(ui.draggable).parent().scope().components;
              var draggedFromIndex = parseInt(ui.draggable[0].getAttribute('data-index'));
              draggedFromList.splice(draggedFromIndex, 1);

              var component = angular.element(ui.draggable).scope().component;
              var droppedToList = angular.element(this).scope().components;
              var droppedToIndex = parseInt(this.getAttribute('data-index'));
              if (draggedFromList == droppedToList) {
                // The object we dragged was removed from the list
                if (draggedFromIndex < droppedToIndex) {
                  // It was before the dropped index, so removing it changed the index
                  droppedToIndex -= 1;
                }
              }
              droppedToList.splice(droppedToIndex, 0, component);

              scope.$apply();
            }
          });
        }
      }
    });
</script>
