<div class="promethee-edit__preview promethee-edit__preview--{{promethee.preview}}" ng-show="promethee.mode == 'preview'">
  <i class="fa fa-refresh fa-spin fa-fw promethee-edit__preview-loader"></i>
  <iframe class="promethee-edit__preview-frame" name="preview" sandbox="allow-scripts allow-same-origin" frameBorder="0"></iframe>
</div>
