<div class="promethee-editor__preview promethee-editor__preview--{{preview}}" ng-show="mode == 'preview'">
  <i class="fa fa-refresh fa-spin fa-fw promethee-editor__preview-loader"></i>
  <iframe class="promethee-editor__preview-frame" name="preview" sandbox="allow-scripts" frameBorder="0"></iframe>
</div>
