<div class="form-group">
  <label class="label-control"><%= label %></label>
  <div style="margin-left: 2px">
    <% values.each do |value| %>
      <label class="radio-inline form-check form-check-inline"> <input ng-model="<%= model %>" type="radio" value="<%= value %>" class="form-check-input" /><%= value.humanize %> </label>
    <% end %>
  </div>
</div>
