<script type="text/ng-template" id="promethee/text">
  <div ng-controller="Text as text" ng-init="text.data = data">
    <div class="promethee-editor__component promethee-editor__component--text promethee-editor__component--final">

      <div class="promethee-editor__toolbar">
        Text
        <span ng-if="text.editing" ng-click="text.complete()" class="btn btn-xs btn-default pull-right">Close editor</span>
      </div>

      <textarea ng-if="text.editing" ui-tinymce="tinymceOptions" ng-model="text.data.attributes.body"></textarea>
      <div ng-if="!text.editing" class="promethee-editor__wrapper" ng-bind-html="text.data.attributes.body | htmlSafe" ng-click="text.edit()"></div>
    </div>
  </div>
</script>

<script>
  Promethee.Controller.for('Text', ['$controller', '$scope', function($controller, $scope) {
    $controller('Component');

    $scope.tinymceOptions = {
      plugins: 'autoresize',
      toolbar: 'styleselect | bold italic',
      menubar: false,
      statusbar: false,
      branding: false,
      autoresize_bottom_margin: 0
    };
  }]);
</script>
