<script type="text/ng-template" id="promethee/video">
  <div ng-controller="Video as video" ng-init="video.data = data;video.siblings = siblings">
    <div dnd-draggable="video.data" dnd-moved="siblings.splice(siblings.indexOf(video.data), 1)" class="promethee-editor__component promethee-editor__component--video promethee-editor__component--final">

      <div class="promethee-editor__toolbar">
        Video
      </div>

      <div class="embed-responsive embed-responsive-16by9">
        <video class="embed-responsive-item">
          <source ng-src="{{video.data.attributes.src}}">
        </video>
      </div>
    </div>
  </div>
</script>

<script>
  Promethee.Controller.for('Video', function() {

  });
</script>
