<%
  init = <<~JAVASCRIPT
    promethee.definitions.push({
      name: 'Slider Item',
      icon: #{ promethee_component_render_icon 'slider' },
      position: 15,
      library: false,
      data: {
        type: 'slider_item',
        attributes: {
          media: {},
          text: ""
        }
      }
    })
  JAVASCRIPT
%>
<div ng-init="<%= init %>"></div>
